<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>itemtaketips.png</key>
      <dict>
        <key>frame</key>
        <string>{{1,1},{32,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{32,32}}</string>
        <key>sourceSize</key>
        <string>{32,32}</string>
      </dict>
      <key>food001.png</key>
      <dict>
        <key>frame</key>
        <string>{{35,1},{29,24}}</string>
        <key>offset</key>
        <string>{-0.5,-1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{1,5},{29,24}}</string>
        <key>sourceSize</key>
        <string>{32,32}</string>
      </dict>
      <key>food000.png</key>
      <dict>
        <key>frame</key>
        <string>{{66,1},{28,19}}</string>
        <key>offset</key>
        <string>{-1,0.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{1,6},{28,19}}</string>
        <key>sourceSize</key>
        <string>{32,32}</string>
      </dict>
      <key>food002.png</key>
      <dict>
        <key>frame</key>
        <string>{{96,1},{28,19}}</string>
        <key>offset</key>
        <string>{-1,0.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{1,6},{28,19}}</string>
        <key>sourceSize</key>
        <string>{32,32}</string>
      </dict>
      <key>foodboss000.png</key>
      <dict>
        <key>frame</key>
        <string>{{66,22},{28,19}}</string>
        <key>offset</key>
        <string>{-1,0.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{1,6},{28,19}}</string>
        <key>sourceSize</key>
        <string>{32,32}</string>
      </dict>
      <key>bluecapsule.png</key>
      <dict>
        <key>frame</key>
        <string>{{35,27},{11,26}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{11,26}}</string>
        <key>sourceSize</key>
        <string>{11,26}</string>
      </dict>
      <key>redcapsule.png</key>
      <dict>
        <key>frame</key>
        <string>{{96,22},{11,26}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{11,26}}</string>
        <key>sourceSize</key>
        <string>{11,26}</string>
      </dict>
      <key>emptyitem.png</key>
      <dict>
        <key>frame</key>
        <string>{{96,35},{16,16}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{16,16}}</string>
        <key>sourceSize</key>
        <string>{16,16}</string>
      </dict>
      <key>oilgold.png</key>
      <dict>
        <key>frame</key>
        <string>{{114,35},{13,14}}</string>
        <key>offset</key>
        <string>{0.5,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{2,1},{13,14}}</string>
        <key>sourceSize</key>
        <string>{16,16}</string>
      </dict>
      <key>oilgold1.png</key>
      <dict>
        <key>frame</key>
        <string>{{114,51},{13,14}}</string>
        <key>offset</key>
        <string>{0.5,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{2,1},{13,14}}</string>
        <key>sourceSize</key>
        <string>{16,16}</string>
      </dict>
      <key>gem01.png</key>
      <dict>
        <key>frame</key>
        <string>{{1,35},{16,16}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{16,16}}</string>
        <key>sourceSize</key>
        <string>{16,16}</string>
      </dict>
      <key>goldfinger.png</key>
      <dict>
        <key>frame</key>
        <string>{{19,35},{14,14}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{1,1},{14,14}}</string>
        <key>sourceSize</key>
        <string>{16,16}</string>
      </dict>
      <key>gem02.png</key>
      <dict>
        <key>frame</key>
        <string>{{35,40},{16,16}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{16,16}}</string>
        <key>sourceSize</key>
        <string>{16,16}</string>
      </dict>
      <key>itemshadow.png</key>
      <dict>
        <key>frame</key>
        <string>{{53,51},{16,10}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,3},{16,10}}</string>
        <key>sourceSize</key>
        <string>{16,16}</string>
      </dict>
      <key>bottle001.png</key>
      <dict>
        <key>frame</key>
        <string>{{19,51},{13,13}}</string>
        <key>offset</key>
        <string>{-0.5,-0.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{1,2},{13,13}}</string>
        <key>sourceSize</key>
        <string>{16,16}</string>
      </dict>
      <key>gem03.png</key>
      <dict>
        <key>frame</key>
        <string>{{1,58},{16,16}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{16,16}}</string>
        <key>sourceSize</key>
        <string>{16,16}</string>
      </dict>
      <key>gem04.png</key>
      <dict>
        <key>frame</key>
        <string>{{34,58},{16,16}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{16,16}}</string>
        <key>sourceSize</key>
        <string>{16,16}</string>
      </dict>
      <key>bottle002.png</key>
      <dict>
        <key>frame</key>
        <string>{{19,66},{13,13}}</string>
        <key>offset</key>
        <string>{-0.5,-0.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{1,2},{13,13}}</string>
        <key>sourceSize</key>
        <string>{16,16}</string>
      </dict>
      <key>ammo.png</key>
      <dict>
        <key>frame</key>
        <string>{{1,76},{16,15}}</string>
        <key>offset</key>
        <string>{0,0.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{16,15}}</string>
        <key>sourceSize</key>
        <string>{16,16}</string>
      </dict>
      <key>goldapple.png</key>
      <dict>
        <key>frame</key>
        <string>{{65,43},{15,15}}</string>
        <key>offset</key>
        <string>{-0.5,0.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{15,15}}</string>
        <key>sourceSize</key>
        <string>{16,16}</string>
      </dict>
      <key>heart.png</key>
      <dict>
        <key>frame</key>
        <string>{{82,43},{13,12}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{13,12}}</string>
        <key>sourceSize</key>
        <string>{13,12}</string>
      </dict>
      <key>shield.png</key>
      <dict>
        <key>frame</key>
        <string>{{96,53},{15,15}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{15,15}}</string>
        <key>sourceSize</key>
        <string>{15,15}</string>
      </dict>
      <key>bottle003.png</key>
      <dict>
        <key>frame</key>
        <string>{{113,67},{13,13}}</string>
        <key>offset</key>
        <string>{-0.5,-0.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{1,2},{13,13}}</string>
        <key>sourceSize</key>
        <string>{16,16}</string>
      </dict>
      <key>bottle004.png</key>
      <dict>
        <key>frame</key>
        <string>{{65,60},{13,13}}</string>
        <key>offset</key>
        <string>{-0.5,-0.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{1,2},{13,13}}</string>
        <key>sourceSize</key>
        <string>{16,16}</string>
      </dict>
      <key>bottle005.png</key>
      <dict>
        <key>frame</key>
        <string>{{80,60},{13,13}}</string>
        <key>offset</key>
        <string>{-0.5,-0.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{1,2},{13,13}}</string>
        <key>sourceSize</key>
        <string>{16,16}</string>
      </dict>
      <key>food003.png</key>
      <dict>
        <key>frame</key>
        <string>{{96,1},{28,19}}</string>
        <key>offset</key>
        <string>{-1,0.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{1,6},{28,19}}</string>
        <key>sourceSize</key>
        <string>{32,32}</string>
      </dict>
      <key>food004.png</key>
      <dict>
        <key>frame</key>
        <string>{{96,1},{28,19}}</string>
        <key>offset</key>
        <string>{-1,0.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{1,6},{28,19}}</string>
        <key>sourceSize</key>
        <string>{32,32}</string>
      </dict>
      <key>food005.png</key>
      <dict>
        <key>frame</key>
        <string>{{96,1},{28,19}}</string>
        <key>offset</key>
        <string>{-1,0.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{1,6},{28,19}}</string>
        <key>sourceSize</key>
        <string>{32,32}</string>
      </dict>
      <key>food006.png</key>
      <dict>
        <key>frame</key>
        <string>{{96,1},{28,19}}</string>
        <key>offset</key>
        <string>{-1,0.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{1,6},{28,19}}</string>
        <key>sourceSize</key>
        <string>{32,32}</string>
      </dict>
      <key>food007.png</key>
      <dict>
        <key>frame</key>
        <string>{{96,1},{28,19}}</string>
        <key>offset</key>
        <string>{-1,0.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{1,6},{28,19}}</string>
        <key>sourceSize</key>
        <string>{32,32}</string>
      </dict>
      <key>food008.png</key>
      <dict>
        <key>frame</key>
        <string>{{96,1},{28,19}}</string>
        <key>offset</key>
        <string>{-1,0.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{1,6},{28,19}}</string>
        <key>sourceSize</key>
        <string>{32,32}</string>
      </dict>
      <key>food009.png</key>
      <dict>
        <key>frame</key>
        <string>{{96,1},{28,19}}</string>
        <key>offset</key>
        <string>{-1,0.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{1,6},{28,19}}</string>
        <key>sourceSize</key>
        <string>{32,32}</string>
      </dict>
      <key>food010.png</key>
      <dict>
        <key>frame</key>
        <string>{{96,1},{28,19}}</string>
        <key>offset</key>
        <string>{-1,0.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{1,6},{28,19}}</string>
        <key>sourceSize</key>
        <string>{32,32}</string>
      </dict>
      <key>food011.png</key>
      <dict>
        <key>frame</key>
        <string>{{96,1},{28,19}}</string>
        <key>offset</key>
        <string>{-1,0.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{1,6},{28,19}}</string>
        <key>sourceSize</key>
        <string>{32,32}</string>
      </dict>
      <key>food012.png</key>
      <dict>
        <key>frame</key>
        <string>{{96,1},{28,19}}</string>
        <key>offset</key>
        <string>{-1,0.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{1,6},{28,19}}</string>
        <key>sourceSize</key>
        <string>{32,32}</string>
      </dict>
      <key>food013.png</key>
      <dict>
        <key>frame</key>
        <string>{{96,1},{28,19}}</string>
        <key>offset</key>
        <string>{-1,0.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{1,6},{28,19}}</string>
        <key>sourceSize</key>
        <string>{32,32}</string>
      </dict>
      <key>food014.png</key>
      <dict>
        <key>frame</key>
        <string>{{96,1},{28,19}}</string>
        <key>offset</key>
        <string>{-1,0.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{1,6},{28,19}}</string>
        <key>sourceSize</key>
        <string>{32,32}</string>
      </dict>
      <key>food015.png</key>
      <dict>
        <key>frame</key>
        <string>{{96,1},{28,19}}</string>
        <key>offset</key>
        <string>{-1,0.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{1,6},{28,19}}</string>
        <key>sourceSize</key>
        <string>{32,32}</string>
      </dict>
      <key>food016.png</key>
      <dict>
        <key>frame</key>
        <string>{{96,1},{28,19}}</string>
        <key>offset</key>
        <string>{-1,0.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{1,6},{28,19}}</string>
        <key>sourceSize</key>
        <string>{32,32}</string>
      </dict>
      <key>food017.png</key>
      <dict>
        <key>frame</key>
        <string>{{96,1},{28,19}}</string>
        <key>offset</key>
        <string>{-1,0.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{1,6},{28,19}}</string>
        <key>sourceSize</key>
        <string>{32,32}</string>
      </dict>
      <key>food018.png</key>
      <dict>
        <key>frame</key>
        <string>{{96,1},{28,19}}</string>
        <key>offset</key>
        <string>{-1,0.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{1,6},{28,19}}</string>
        <key>sourceSize</key>
        <string>{32,32}</string>
      </dict>
      <key>food019.png</key>
      <dict>
        <key>frame</key>
        <string>{{96,1},{28,19}}</string>
        <key>offset</key>
        <string>{-1,0.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{1,6},{28,19}}</string>
        <key>sourceSize</key>
        <string>{32,32}</string>
      </dict>
      <key>food020.png</key>
      <dict>
        <key>frame</key>
        <string>{{96,1},{28,19}}</string>
        <key>offset</key>
        <string>{-1,0.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{1,6},{28,19}}</string>
        <key>sourceSize</key>
        <string>{32,32}</string>
      </dict>
      <key>food021.png</key>
      <dict>
        <key>frame</key>
        <string>{{96,1},{28,19}}</string>
        <key>offset</key>
        <string>{-1,0.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{1,6},{28,19}}</string>
        <key>sourceSize</key>
        <string>{32,32}</string>
      </dict>
      <key>food022.png</key>
      <dict>
        <key>frame</key>
        <string>{{96,1},{28,19}}</string>
        <key>offset</key>
        <string>{-1,0.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{1,6},{28,19}}</string>
        <key>sourceSize</key>
        <string>{32,32}</string>
      </dict>
      <key>food023.png</key>
      <dict>
        <key>frame</key>
        <string>{{96,1},{28,19}}</string>
        <key>offset</key>
        <string>{-1,0.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{1,6},{28,19}}</string>
        <key>sourceSize</key>
        <string>{32,32}</string>
      </dict>
      <key>food024.png</key>
      <dict>
        <key>frame</key>
        <string>{{96,1},{28,19}}</string>
        <key>offset</key>
        <string>{-1,0.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{1,6},{28,19}}</string>
        <key>sourceSize</key>
        <string>{32,32}</string>
      </dict>
      <key>food025.png</key>
      <dict>
        <key>frame</key>
        <string>{{96,1},{28,19}}</string>
        <key>offset</key>
        <string>{-1,0.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{1,6},{28,19}}</string>
        <key>sourceSize</key>
        <string>{32,32}</string>
      </dict>
      <key>food026.png</key>
      <dict>
        <key>frame</key>
        <string>{{96,1},{28,19}}</string>
        <key>offset</key>
        <string>{-1,0.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{1,6},{28,19}}</string>
        <key>sourceSize</key>
        <string>{32,32}</string>
      </dict>
      <key>food027.png</key>
      <dict>
        <key>frame</key>
        <string>{{96,1},{28,19}}</string>
        <key>offset</key>
        <string>{-1,0.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{1,6},{28,19}}</string>
        <key>sourceSize</key>
        <string>{32,32}</string>
      </dict>
      <key>food028.png</key>
      <dict>
        <key>frame</key>
        <string>{{96,1},{28,19}}</string>
        <key>offset</key>
        <string>{-1,0.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{1,6},{28,19}}</string>
        <key>sourceSize</key>
        <string>{32,32}</string>
      </dict>
      <key>food029.png</key>
      <dict>
        <key>frame</key>
        <string>{{96,1},{28,19}}</string>
        <key>offset</key>
        <string>{-1,0.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{1,6},{28,19}}</string>
        <key>sourceSize</key>
        <string>{32,32}</string>
      </dict>
      <key>food030.png</key>
      <dict>
        <key>frame</key>
        <string>{{96,1},{28,19}}</string>
        <key>offset</key>
        <string>{-1,0.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{1,6},{28,19}}</string>
        <key>sourceSize</key>
        <string>{32,32}</string>
      </dict>
      <key>food031.png</key>
      <dict>
        <key>frame</key>
        <string>{{96,1},{28,19}}</string>
        <key>offset</key>
        <string>{-1,0.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{1,6},{28,19}}</string>
        <key>sourceSize</key>
        <string>{32,32}</string>
      </dict>
      <key>food032.png</key>
      <dict>
        <key>frame</key>
        <string>{{96,1},{28,19}}</string>
        <key>offset</key>
        <string>{-1,0.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{1,6},{28,19}}</string>
        <key>sourceSize</key>
        <string>{32,32}</string>
      </dict>
      <key>food033.png</key>
      <dict>
        <key>frame</key>
        <string>{{96,1},{28,19}}</string>
        <key>offset</key>
        <string>{-1,0.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{1,6},{28,19}}</string>
        <key>sourceSize</key>
        <string>{32,32}</string>
      </dict>
      <key>food034.png</key>
      <dict>
        <key>frame</key>
        <string>{{96,1},{28,19}}</string>
        <key>offset</key>
        <string>{-1,0.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{1,6},{28,19}}</string>
        <key>sourceSize</key>
        <string>{32,32}</string>
      </dict>
      <key>food035.png</key>
      <dict>
        <key>frame</key>
        <string>{{96,1},{28,19}}</string>
        <key>offset</key>
        <string>{-1,0.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{1,6},{28,19}}</string>
        <key>sourceSize</key>
        <string>{32,32}</string>
      </dict>
      <key>food036.png</key>
      <dict>
        <key>frame</key>
        <string>{{96,1},{28,19}}</string>
        <key>offset</key>
        <string>{-1,0.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{1,6},{28,19}}</string>
        <key>sourceSize</key>
        <string>{32,32}</string>
      </dict>
      <key>food037.png</key>
      <dict>
        <key>frame</key>
        <string>{{96,1},{28,19}}</string>
        <key>offset</key>
        <string>{-1,0.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{1,6},{28,19}}</string>
        <key>sourceSize</key>
        <string>{32,32}</string>
      </dict>
      <key>food038.png</key>
      <dict>
        <key>frame</key>
        <string>{{96,1},{28,19}}</string>
        <key>offset</key>
        <string>{-1,0.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{1,6},{28,19}}</string>
        <key>sourceSize</key>
        <string>{32,32}</string>
      </dict>
      <key>food039.png</key>
      <dict>
        <key>frame</key>
        <string>{{96,1},{28,19}}</string>
        <key>offset</key>
        <string>{-1,0.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{1,6},{28,19}}</string>
        <key>sourceSize</key>
        <string>{32,32}</string>
      </dict>
      <key>food040.png</key>
      <dict>
        <key>frame</key>
        <string>{{96,1},{28,19}}</string>
        <key>offset</key>
        <string>{-1,0.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{1,6},{28,19}}</string>
        <key>sourceSize</key>
        <string>{32,32}</string>
      </dict>
      <key>food041.png</key>
      <dict>
        <key>frame</key>
        <string>{{96,1},{28,19}}</string>
        <key>offset</key>
        <string>{-1,0.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{1,6},{28,19}}</string>
        <key>sourceSize</key>
        <string>{32,32}</string>
      </dict>
      <key>food042.png</key>
      <dict>
        <key>frame</key>
        <string>{{96,1},{28,19}}</string>
        <key>offset</key>
        <string>{-1,0.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{1,6},{28,19}}</string>
        <key>sourceSize</key>
        <string>{32,32}</string>
      </dict>
      <key>food043.png</key>
      <dict>
        <key>frame</key>
        <string>{{96,1},{28,19}}</string>
        <key>offset</key>
        <string>{-1,0.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{1,6},{28,19}}</string>
        <key>sourceSize</key>
        <string>{32,32}</string>
      </dict>
      <key>food044.png</key>
      <dict>
        <key>frame</key>
        <string>{{96,1},{28,19}}</string>
        <key>offset</key>
        <string>{-1,0.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{1,6},{28,19}}</string>
        <key>sourceSize</key>
        <string>{32,32}</string>
      </dict>
      <key>food045.png</key>
      <dict>
        <key>frame</key>
        <string>{{96,1},{28,19}}</string>
        <key>offset</key>
        <string>{-1,0.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{1,6},{28,19}}</string>
        <key>sourceSize</key>
        <string>{32,32}</string>
      </dict>
      <key>food046.png</key>
      <dict>
        <key>frame</key>
        <string>{{96,1},{28,19}}</string>
        <key>offset</key>
        <string>{-1,0.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{1,6},{28,19}}</string>
        <key>sourceSize</key>
        <string>{32,32}</string>
      </dict>
      <key>food047.png</key>
      <dict>
        <key>frame</key>
        <string>{{96,1},{28,19}}</string>
        <key>offset</key>
        <string>{-1,0.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{1,6},{28,19}}</string>
        <key>sourceSize</key>
        <string>{32,32}</string>
      </dict>
      <key>food048.png</key>
      <dict>
        <key>frame</key>
        <string>{{96,1},{28,19}}</string>
        <key>offset</key>
        <string>{-1,0.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{1,6},{28,19}}</string>
        <key>sourceSize</key>
        <string>{32,32}</string>
      </dict>
      <key>food049.png</key>
      <dict>
        <key>frame</key>
        <string>{{96,1},{28,19}}</string>
        <key>offset</key>
        <string>{-1,0.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{1,6},{28,19}}</string>
        <key>sourceSize</key>
        <string>{32,32}</string>
      </dict>
      <key>food050.png</key>
      <dict>
        <key>frame</key>
        <string>{{96,1},{28,19}}</string>
        <key>offset</key>
        <string>{-1,0.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{1,6},{28,19}}</string>
        <key>sourceSize</key>
        <string>{32,32}</string>
      </dict>
      <key>food051.png</key>
      <dict>
        <key>frame</key>
        <string>{{96,1},{28,19}}</string>
        <key>offset</key>
        <string>{-1,0.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{1,6},{28,19}}</string>
        <key>sourceSize</key>
        <string>{32,32}</string>
      </dict>
      <key>food052.png</key>
      <dict>
        <key>frame</key>
        <string>{{96,1},{28,19}}</string>
        <key>offset</key>
        <string>{-1,0.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{1,6},{28,19}}</string>
        <key>sourceSize</key>
        <string>{32,32}</string>
      </dict>
      <key>foodboss001.png</key>
      <dict>
        <key>frame</key>
        <string>{{66,22},{28,19}}</string>
        <key>offset</key>
        <string>{-1,0.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{1,6},{28,19}}</string>
        <key>sourceSize</key>
        <string>{32,32}</string>
      </dict>
      <key>foodboss002.png</key>
      <dict>
        <key>frame</key>
        <string>{{66,22},{28,19}}</string>
        <key>offset</key>
        <string>{-1,0.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{1,6},{28,19}}</string>
        <key>sourceSize</key>
        <string>{32,32}</string>
      </dict>
      <key>foodboss003.png</key>
      <dict>
        <key>frame</key>
        <string>{{66,22},{28,19}}</string>
        <key>offset</key>
        <string>{-1,0.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{1,6},{28,19}}</string>
        <key>sourceSize</key>
        <string>{32,32}</string>
      </dict>
      <key>foodboss004.png</key>
      <dict>
        <key>frame</key>
        <string>{{66,22},{28,19}}</string>
        <key>offset</key>
        <string>{-1,0.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{1,6},{28,19}}</string>
        <key>sourceSize</key>
        <string>{32,32}</string>
      </dict>
      <key>foodboss005.png</key>
      <dict>
        <key>frame</key>
        <string>{{66,22},{28,19}}</string>
        <key>offset</key>
        <string>{-1,0.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{1,6},{28,19}}</string>
        <key>sourceSize</key>
        <string>{32,32}</string>
      </dict>
      <key>foodboss006.png</key>
      <dict>
        <key>frame</key>
        <string>{{66,22},{28,19}}</string>
        <key>offset</key>
        <string>{-1,0.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{1,6},{28,19}}</string>
        <key>sourceSize</key>
        <string>{32,32}</string>
      </dict>
      <key>foodboss007.png</key>
      <dict>
        <key>frame</key>
        <string>{{66,22},{28,19}}</string>
        <key>offset</key>
        <string>{-1,0.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{1,6},{28,19}}</string>
        <key>sourceSize</key>
        <string>{32,32}</string>
      </dict>
      <key>foodboss008.png</key>
      <dict>
        <key>frame</key>
        <string>{{66,22},{28,19}}</string>
        <key>offset</key>
        <string>{-1,0.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{1,6},{28,19}}</string>
        <key>sourceSize</key>
        <string>{32,32}</string>
      </dict>
      <key>foodboss009.png</key>
      <dict>
        <key>frame</key>
        <string>{{66,22},{28,19}}</string>
        <key>offset</key>
        <string>{-1,0.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{1,6},{28,19}}</string>
        <key>sourceSize</key>
        <string>{32,32}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>pixelFormat</key>
      <string>RGBA8888</string>
      <key>premultiplyAlpha</key>
      <false/>
      <key>realTextureFileName</key>
      <string>item.png</string>
      <key>size</key>
      <string>{128,92}</string>
      <key>textureFileName</key>
      <string>item</string>
    </dict>
  </dict>
</plist>
