{
    "tabWidth": 4,
    "useTabs": false,
    "singleQuote": true,
    "printWidth": 180,
    "semi": false,
    "trailingComma": "none",
    "bracketSpacing": true,
    "jsxBracketSameLine": false,
    "arrowParens": "avoid",
    "htmlWhitespaceSensitivity": "ignore"
}
