<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>angle</key>
    <integer>-180</integer>
    <key>angleVariance</key>
    <integer>180</integer>
    <key>blendFuncDestination</key>
    <integer>1</integer>
    <key>blendFuncSource</key>
    <integer>1</integer>
    <key>duration</key>
    <integer>-1</integer>
    <key>emitterType</key>
    <integer>0</integer>
    <key>finishColorAlpha</key>
    <integer>1</integer>
    <key>finishColorBlue</key>
    <integer>0</integer>
    <key>finishColorGreen</key>
    <integer>0</integer>
    <key>finishColorRed</key>
    <integer>0</integer>
    <key>finishColorVarianceAlpha</key>
    <integer>0</integer>
    <key>finishColorVarianceBlue</key>
    <integer>0</integer>
    <key>finishColorVarianceGreen</key>
    <integer>0</integer>
    <key>finishColorVarianceRed</key>
    <integer>0</integer>
    <key>finishParticleSize</key>
    <integer>40</integer>
    <key>finishParticleSizeVariance</key>
    <integer>0</integer>
    <key>gravityx</key>
    <integer>0</integer>
    <key>gravityy</key>
    <integer>0</integer>
    <key>maxParticles</key>
    <integer>100</integer>
    <key>maxRadius</key>
    <integer>0</integer>
    <key>maxRadiusVariance</key>
    <integer>0</integer>
    <key>minRadius</key>
    <integer>0</integer>
    <key>particleLifespan</key>
    <integer>1</integer>
    <key>particleLifespanVariance</key>
    <real>0.5</real>
    <key>radialAccelVariance</key>
    <integer>0</integer>
    <key>radialAcceleration</key>
    <integer>0</integer>
    <key>rotatePerSecond</key>
    <integer>0</integer>
    <key>rotatePerSecondVariance</key>
    <integer>0</integer>
    <key>rotationEnd</key>
    <integer>0</integer>
    <key>rotationEndVariance</key>
    <integer>0</integer>
    <key>rotationStart</key>
    <integer>37</integer>
    <key>rotationStartVariance</key>
    <integer>243</integer>
    <key>sourcePositionVariancex</key>
    <integer>75</integer>
    <key>sourcePositionVariancey</key>
    <integer>15</integer>
    <key>sourcePositionx</key>
    <real>416.16239316239313</real>
    <key>sourcePositiony</key>
    <real>558.6837606837606</real>
    <key>speed</key>
    <integer>121</integer>
    <key>speedVariance</key>
    <integer>51</integer>
    <key>startColorAlpha</key>
    <integer>1</integer>
    <key>startColorBlue</key>
    <real>0.2</real>
    <key>startColorGreen</key>
    <real>0.4</real>
    <key>startColorRed</key>
    <real>0.2</real>
    <key>startColorVarianceAlpha</key>
    <real>0.1</real>
    <key>startColorVarianceBlue</key>
    <real>0.2</real>
    <key>startColorVarianceGreen</key>
    <integer>0</integer>
    <key>startColorVarianceRed</key>
    <integer>0</integer>
    <key>startParticleSize</key>
    <integer>80</integer>
    <key>startParticleSizeVariance</key>
    <integer>108</integer>
    <key>tangentialAccelVariance</key>
    <integer>20</integer>
    <key>tangentialAcceleration</key>
    <integer>20</integer>
    <key>textureImageData</key>
    <string>H4sIAAAAAAAAAwH1AAr/iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAvElEQVQ4jZVTMQ7DMAjEiM1iyMOydfATPWTrwzKxWUqH6lJKSJoiWYpN7jhOUFSVfMxt2ugknn0t8a2AwAPryAlMjiRFVdOqkcQkV8OxMoAegG+fB45jwlc3+QZn6oKw8zZMcm/E//BvzG3auI5jjziR1N+hhjO5GSj6gnfOYUdSeOANr4OI7/aeKTT5oQDArMjuQTY4d6MOIu7LZ7avSOJkmhD1ZS3i5SARVaEN3P1C7dvYHu/ZvlKRrfMLeGRc1P1MMSwAAAAASUVORK5CYILFHMGM9QAAAA==</string>
  </dict>
</plist>