<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster003anim000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1,1},{13,20}}</string>
        <key>offset</key>
        <string>{2,-0.5}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{6,1},{13,20}}</string>
        <key>sourceSize</key>
        <string>{21,21}</string>
      </dict>
      <key>monster003anim008.png</key>
      <dict>
        <key>frame</key>
        <string>{{23,1},{13,20}}</string>
        <key>offset</key>
        <string>{2,-0.5}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{6,1},{13,20}}</string>
        <key>sourceSize</key>
        <string>{21,21}</string>
      </dict>
      <key>monster003anim006.png</key>
      <dict>
        <key>frame</key>
        <string>{{45,1},{14,18}}</string>
        <key>offset</key>
        <string>{1.5,-1.5}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{5,3},{14,18}}</string>
        <key>sourceSize</key>
        <string>{21,21}</string>
      </dict>
      <key>monster003anim001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1,1},{13,20}}</string>
        <key>offset</key>
        <string>{2,-0.5}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{6,1},{13,20}}</string>
        <key>sourceSize</key>
        <string>{21,21}</string>
      </dict>
      <key>monster003anim002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1,1},{13,20}}</string>
        <key>offset</key>
        <string>{2,-0.5}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{6,1},{13,20}}</string>
        <key>sourceSize</key>
        <string>{21,21}</string>
      </dict>
      <key>monster003anim003.png</key>
      <dict>
        <key>frame</key>
        <string>{{1,1},{13,20}}</string>
        <key>offset</key>
        <string>{2,-0.5}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{6,1},{13,20}}</string>
        <key>sourceSize</key>
        <string>{21,21}</string>
      </dict>
      <key>monster003anim004.png</key>
      <dict>
        <key>frame</key>
        <string>{{1,1},{13,20}}</string>
        <key>offset</key>
        <string>{2,-0.5}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{6,1},{13,20}}</string>
        <key>sourceSize</key>
        <string>{21,21}</string>
      </dict>
      <key>monster003anim005.png</key>
      <dict>
        <key>frame</key>
        <string>{{1,1},{13,20}}</string>
        <key>offset</key>
        <string>{2,-0.5}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{6,1},{13,20}}</string>
        <key>sourceSize</key>
        <string>{21,21}</string>
      </dict>
      <key>monster003anim009.png</key>
      <dict>
        <key>frame</key>
        <string>{{1,1},{13,20}}</string>
        <key>offset</key>
        <string>{2,-0.5}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{6,1},{13,20}}</string>
        <key>sourceSize</key>
        <string>{21,21}</string>
      </dict>
      <key>monster003anim010.png</key>
      <dict>
        <key>frame</key>
        <string>{{1,1},{13,20}}</string>
        <key>offset</key>
        <string>{2,-0.5}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{6,1},{13,20}}</string>
        <key>sourceSize</key>
        <string>{21,21}</string>
      </dict>
      <key>monster003anim011.png</key>
      <dict>
        <key>frame</key>
        <string>{{1,1},{13,20}}</string>
        <key>offset</key>
        <string>{2,-0.5}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{6,1},{13,20}}</string>
        <key>sourceSize</key>
        <string>{21,21}</string>
      </dict>
      <key>monster003anim012.png</key>
      <dict>
        <key>frame</key>
        <string>{{1,1},{13,20}}</string>
        <key>offset</key>
        <string>{2,-0.5}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{6,1},{13,20}}</string>
        <key>sourceSize</key>
        <string>{21,21}</string>
      </dict>
      <key>monster003anim007.png</key>
      <dict>
        <key>frame</key>
        <string>{{45,1},{14,18}}</string>
        <key>offset</key>
        <string>{1.5,-1.5}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{5,3},{14,18}}</string>
        <key>sourceSize</key>
        <string>{21,21}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>pixelFormat</key>
      <string>RGBA8888</string>
      <key>premultiplyAlpha</key>
      <false/>
      <key>realTextureFileName</key>
      <string>monster003.png</string>
      <key>size</key>
      <string>{64,16}</string>
      <key>textureFileName</key>
      <string>monster003</string>
    </dict>
  </dict>
</plist>
