<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster010anim000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1,1},{21,18}}</string>
        <key>offset</key>
        <string>{0,1.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{21,18}}</string>
        <key>sourceSize</key>
        <string>{21,21}</string>
      </dict>
      <key>monster010disguise.png</key>
      <dict>
        <key>frame</key>
        <string>{{24,1},{21,18}}</string>
        <key>offset</key>
        <string>{0,-1.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,3},{21,18}}</string>
        <key>sourceSize</key>
        <string>{21,21}</string>
      </dict>
      <key>monster010anim008.png</key>
      <dict>
        <key>frame</key>
        <string>{{47,1},{16,15}}</string>
        <key>offset</key>
        <string>{0.5,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{3,3},{16,15}}</string>
        <key>sourceSize</key>
        <string>{21,21}</string>
      </dict>
      <key>monster010anim001.png</key>
      <dict>
        <key>frame</key>
        <string>{{47,18},{21,12}}</string>
        <key>offset</key>
        <string>{0,0.5}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,4},{21,12}}</string>
        <key>sourceSize</key>
        <string>{21,21}</string>
      </dict>
      <key>monster010anim010.png</key>
      <dict>
        <key>frame</key>
        <string>{{1,21},{20,19}}</string>
        <key>offset</key>
        <string>{0.5,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{1,1},{20,19}}</string>
        <key>sourceSize</key>
        <string>{21,21}</string>
      </dict>
      <key>monster010anim002.png</key>
      <dict>
        <key>frame</key>
        <string>{{23,21},{20,12}}</string>
        <key>offset</key>
        <string>{-0.5,-0.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,5},{20,12}}</string>
        <key>sourceSize</key>
        <string>{21,21}</string>
      </dict>
      <key>monster010anim004.png</key>
      <dict>
        <key>frame</key>
        <string>{{23,35},{20,12}}</string>
        <key>offset</key>
        <string>{-0.5,-0.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,5},{20,12}}</string>
        <key>sourceSize</key>
        <string>{21,21}</string>
      </dict>
      <key>monster010anim006.png</key>
      <dict>
        <key>frame</key>
        <string>{{45,41},{18,18}}</string>
        <key>offset</key>
        <string>{-0.5,1.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{1,0},{18,18}}</string>
        <key>sourceSize</key>
        <string>{21,21}</string>
      </dict>
      <key>monster010anim007.png</key>
      <dict>
        <key>frame</key>
        <string>{{45,61},{18,17}}</string>
        <key>offset</key>
        <string>{-0.5,1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{1,1},{18,17}}</string>
        <key>sourceSize</key>
        <string>{21,21}</string>
      </dict>
      <key>monster010anim009.png</key>
      <dict>
        <key>frame</key>
        <string>{{1,42},{20,12}}</string>
        <key>offset</key>
        <string>{-0.5,0.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,4},{20,12}}</string>
        <key>sourceSize</key>
        <string>{21,21}</string>
      </dict>
      <key>monster010anim005.png</key>
      <dict>
        <key>frame</key>
        <string>{{1,1},{21,18}}</string>
        <key>offset</key>
        <string>{0,1.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{21,18}}</string>
        <key>sourceSize</key>
        <string>{21,21}</string>
      </dict>
      <key>monster010anim003.png</key>
      <dict>
        <key>frame</key>
        <string>{{47,18},{21,12}}</string>
        <key>offset</key>
        <string>{0,0.5}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,4},{21,12}}</string>
        <key>sourceSize</key>
        <string>{21,21}</string>
      </dict>
      <key>monster010anim011.png</key>
      <dict>
        <key>frame</key>
        <string>{{1,42},{20,12}}</string>
        <key>offset</key>
        <string>{-0.5,0.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,4},{20,12}}</string>
        <key>sourceSize</key>
        <string>{21,21}</string>
      </dict>
      <key>monster010anim012.png</key>
      <dict>
        <key>frame</key>
        <string>{{1,21},{20,19}}</string>
        <key>offset</key>
        <string>{0.5,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{1,1},{20,19}}</string>
        <key>sourceSize</key>
        <string>{21,21}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>pixelFormat</key>
      <string>RGBA8888</string>
      <key>premultiplyAlpha</key>
      <false/>
      <key>realTextureFileName</key>
      <string>monster010.png</string>
      <key>size</key>
      <string>{64,79}</string>
      <key>textureFileName</key>
      <string>monster010</string>
    </dict>
  </dict>
</plist>
