<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster003anim013.png</key>
      <dict>
        <key>frame</key>
        <string>{{1,1},{27,30}}</string>
        <key>offset</key>
        <string>{2.5,-1}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{5,2},{27,30}}</string>
        <key>sourceSize</key>
        <string>{32,32}</string>
      </dict>
      <key>monster003anim113.png</key>
      <dict>
        <key>frame</key>
        <string>{{33,1},{27,30}}</string>
        <key>offset</key>
        <string>{2.5,-1}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{5,2},{27,30}}</string>
        <key>sourceSize</key>
        <string>{32,32}</string>
      </dict>
      <key>monster003anim010.png</key>
      <dict>
        <key>frame</key>
        <string>{{65,1},{25,29}}</string>
        <key>offset</key>
        <string>{1.5,-1.5}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{5,3},{25,29}}</string>
        <key>sourceSize</key>
        <string>{32,32}</string>
      </dict>
      <key>monster003anim110.png</key>
      <dict>
        <key>frame</key>
        <string>{{96,1},{25,29}}</string>
        <key>offset</key>
        <string>{1.5,-1.5}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{5,3},{25,29}}</string>
        <key>sourceSize</key>
        <string>{32,32}</string>
      </dict>
      <key>monster003anim009.png</key>
      <dict>
        <key>frame</key>
        <string>{{65,28},{19,23}}</string>
        <key>offset</key>
        <string>{-4.5,-4.5}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{2,9},{19,23}}</string>
        <key>sourceSize</key>
        <string>{32,32}</string>
      </dict>
      <key>monster003anim109.png</key>
      <dict>
        <key>frame</key>
        <string>{{90,28},{19,23}}</string>
        <key>offset</key>
        <string>{-5.5,-4.5}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{1,9},{19,23}}</string>
        <key>sourceSize</key>
        <string>{32,32}</string>
      </dict>
      <key>monster003anim000.png</key>
      <dict>
        <key>frame</key>
        <string>{{115,28},{12,20}}</string>
        <key>offset</key>
        <string>{-1,-6}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{9,12},{12,20}}</string>
        <key>sourceSize</key>
        <string>{32,32}</string>
      </dict>
      <key>monster003anim001.png</key>
      <dict>
        <key>frame</key>
        <string>{{115,50},{12,19}}</string>
        <key>offset</key>
        <string>{-1,-6.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{9,13},{12,19}}</string>
        <key>sourceSize</key>
        <string>{32,32}</string>
      </dict>
      <key>monster003anim012.png</key>
      <dict>
        <key>frame</key>
        <string>{{1,30},{17,23}}</string>
        <key>offset</key>
        <string>{-3.5,-4.5}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{4,9},{17,23}}</string>
        <key>sourceSize</key>
        <string>{32,32}</string>
      </dict>
      <key>monster003anim112.png</key>
      <dict>
        <key>frame</key>
        <string>{{26,30},{17,23}}</string>
        <key>offset</key>
        <string>{-3.5,-4.5}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{4,9},{17,23}}</string>
        <key>sourceSize</key>
        <string>{32,32}</string>
      </dict>
      <key>monster003anim108.png</key>
      <dict>
        <key>frame</key>
        <string>{{51,30},{9,20}}</string>
        <key>offset</key>
        <string>{-0.5,-6}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{11,12},{9,20}}</string>
        <key>sourceSize</key>
        <string>{32,32}</string>
      </dict>
      <key>monster003anim014.png</key>
      <dict>
        <key>frame</key>
        <string>{{1,49},{22,17}}</string>
        <key>offset</key>
        <string>{5,-7.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{10,15},{22,17}}</string>
        <key>sourceSize</key>
        <string>{32,32}</string>
      </dict>
      <key>monster003anim114.png</key>
      <dict>
        <key>frame</key>
        <string>{{25,49},{22,17}}</string>
        <key>offset</key>
        <string>{5,-7.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{10,15},{22,17}}</string>
        <key>sourceSize</key>
        <string>{32,32}</string>
      </dict>
      <key>monster003anim002.png</key>
      <dict>
        <key>frame</key>
        <string>{{62,49},{20,19}}</string>
        <key>offset</key>
        <string>{0,-5.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{6,12},{20,19}}</string>
        <key>sourceSize</key>
        <string>{32,32}</string>
      </dict>
      <key>monster003anim008.png</key>
      <dict>
        <key>frame</key>
        <string>{{49,52},{8,20}}</string>
        <key>offset</key>
        <string>{0,-6}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{12,12},{8,20}}</string>
        <key>sourceSize</key>
        <string>{32,32}</string>
      </dict>
      <key>monster003anim003.png</key>
      <dict>
        <key>frame</key>
        <string>{{84,49},{20,19}}</string>
        <key>offset</key>
        <string>{0,-6.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{6,13},{20,19}}</string>
        <key>sourceSize</key>
        <string>{32,32}</string>
      </dict>
      <key>monster003anim004.png</key>
      <dict>
        <key>frame</key>
        <string>{{1,68},{20,19}}</string>
        <key>offset</key>
        <string>{0,-5.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{6,12},{20,19}}</string>
        <key>sourceSize</key>
        <string>{32,32}</string>
      </dict>
      <key>monster003anim005.png</key>
      <dict>
        <key>frame</key>
        <string>{{23,68},{20,19}}</string>
        <key>offset</key>
        <string>{0,-6.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{6,13},{20,19}}</string>
        <key>sourceSize</key>
        <string>{32,32}</string>
      </dict>
      <key>monster003anim102.png</key>
      <dict>
        <key>frame</key>
        <string>{{59,70},{20,19}}</string>
        <key>offset</key>
        <string>{-1,-5.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{5,12},{20,19}}</string>
        <key>sourceSize</key>
        <string>{32,32}</string>
      </dict>
      <key>monster003anim103.png</key>
      <dict>
        <key>frame</key>
        <string>{{81,70},{20,19}}</string>
        <key>offset</key>
        <string>{-1,-6.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{5,13},{20,19}}</string>
        <key>sourceSize</key>
        <string>{32,32}</string>
      </dict>
      <key>monster003anim104.png</key>
      <dict>
        <key>frame</key>
        <string>{{103,71},{20,19}}</string>
        <key>offset</key>
        <string>{-1,-5.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{5,12},{20,19}}</string>
        <key>sourceSize</key>
        <string>{32,32}</string>
      </dict>
      <key>monster003anim105.png</key>
      <dict>
        <key>frame</key>
        <string>{{103,92},{20,19}}</string>
        <key>offset</key>
        <string>{-1,-6.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{5,13},{20,19}}</string>
        <key>sourceSize</key>
        <string>{32,32}</string>
      </dict>
      <key>monster003anim011.png</key>
      <dict>
        <key>frame</key>
        <string>{{1,89},{20,17}}</string>
        <key>offset</key>
        <string>{4,-7.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{10,15},{20,17}}</string>
        <key>sourceSize</key>
        <string>{32,32}</string>
      </dict>
      <key>monster003anim111.png</key>
      <dict>
        <key>frame</key>
        <string>{{23,89},{20,17}}</string>
        <key>offset</key>
        <string>{4,-7.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{10,15},{20,17}}</string>
        <key>sourceSize</key>
        <string>{32,32}</string>
      </dict>
      <key>monster003anim100.png</key>
      <dict>
        <key>frame</key>
        <string>{{45,91},{13,20}}</string>
        <key>offset</key>
        <string>{0.5,-6}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{10,12},{13,20}}</string>
        <key>sourceSize</key>
        <string>{32,32}</string>
      </dict>
      <key>monster003anim006.png</key>
      <dict>
        <key>frame</key>
        <string>{{67,91},{15,19}}</string>
        <key>offset</key>
        <string>{1.5,-6.5}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{10,13},{15,19}}</string>
        <key>sourceSize</key>
        <string>{32,32}</string>
      </dict>
      <key>monster003anim101.png</key>
      <dict>
        <key>frame</key>
        <string>{{88,91},{13,19}}</string>
        <key>offset</key>
        <string>{0.5,-6.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{10,13},{13,19}}</string>
        <key>sourceSize</key>
        <string>{32,32}</string>
      </dict>
      <key>monster003anim106.png</key>
      <dict>
        <key>frame</key>
        <string>{{45,106},{15,19}}</string>
        <key>offset</key>
        <string>{1.5,-6.5}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{10,13},{15,19}}</string>
        <key>sourceSize</key>
        <string>{32,32}</string>
      </dict>
      <key>monster003anim107.png</key>
      <dict>
        <key>frame</key>
        <string>{{66,108},{15,19}}</string>
        <key>offset</key>
        <string>{0.5,-6.5}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{9,13},{15,19}}</string>
        <key>sourceSize</key>
        <string>{32,32}</string>
      </dict>
      <key>monster003anim007.png</key>
      <dict>
        <key>frame</key>
        <string>{{87,112},{14,19}}</string>
        <key>offset</key>
        <string>{1,-6.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{10,13},{14,19}}</string>
        <key>sourceSize</key>
        <string>{32,32}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>pixelFormat</key>
      <string>RGBA8888</string>
      <key>premultiplyAlpha</key>
      <false/>
      <key>realTextureFileName</key>
      <string>monster003.png</string>
      <key>size</key>
      <string>{128,132}</string>
      <key>textureFileName</key>
      <string>monster003</string>
    </dict>
  </dict>
</plist>
