<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster022anim000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1,1},{31,14}}</string>
        <key>offset</key>
        <string>{-0.5,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,1},{31,14}}</string>
        <key>sourceSize</key>
        <string>{32,16}</string>
      </dict>
      <key>monster022anim007.png</key>
      <dict>
        <key>frame</key>
        <string>{{34,1},{28,15}}</string>
        <key>offset</key>
        <string>{0,0.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{2,0},{28,15}}</string>
        <key>sourceSize</key>
        <string>{32,16}</string>
      </dict>
      <key>monster022anim001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1,17},{31,14}}</string>
        <key>offset</key>
        <string>{-0.5,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,1},{31,14}}</string>
        <key>sourceSize</key>
        <string>{32,16}</string>
      </dict>
      <key>monster022anim006.png</key>
      <dict>
        <key>frame</key>
        <string>{{34,18},{28,14}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{2,1},{28,14}}</string>
        <key>sourceSize</key>
        <string>{32,16}</string>
      </dict>
      <key>monster022anim002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1,33},{31,14}}</string>
        <key>offset</key>
        <string>{-0.5,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,1},{31,14}}</string>
        <key>sourceSize</key>
        <string>{32,16}</string>
      </dict>
      <key>monster022anim008.png</key>
      <dict>
        <key>frame</key>
        <string>{{34,34},{28,11}}</string>
        <key>offset</key>
        <string>{0,-1.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{2,4},{28,11}}</string>
        <key>sourceSize</key>
        <string>{32,16}</string>
      </dict>
      <key>monster022anim009.png</key>
      <dict>
        <key>frame</key>
        <string>{{34,47},{31,14}}</string>
        <key>offset</key>
        <string>{-0.5,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,1},{31,14}}</string>
        <key>sourceSize</key>
        <string>{32,16}</string>
      </dict>
      <key>monster022anim003.png</key>
      <dict>
        <key>frame</key>
        <string>{{50,47},{31,13}}</string>
        <key>offset</key>
        <string>{-0.5,-0.5}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,2},{31,13}}</string>
        <key>sourceSize</key>
        <string>{32,16}</string>
      </dict>
      <key>monster022anim005.png</key>
      <dict>
        <key>frame</key>
        <string>{{50,80},{31,13}}</string>
        <key>offset</key>
        <string>{-0.5,-0.5}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,2},{31,13}}</string>
        <key>sourceSize</key>
        <string>{32,16}</string>
      </dict>
      <key>monster022anim010.png</key>
      <dict>
        <key>frame</key>
        <string>{{1,49},{31,13}}</string>
        <key>offset</key>
        <string>{-0.5,-0.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,2},{31,13}}</string>
        <key>sourceSize</key>
        <string>{32,16}</string>
      </dict>
      <key>monster022anim004.png</key>
      <dict>
        <key>frame</key>
        <string>{{1,1},{31,14}}</string>
        <key>offset</key>
        <string>{-0.5,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,1},{31,14}}</string>
        <key>sourceSize</key>
        <string>{32,16}</string>
      </dict>
      <key>monster022anim011.png</key>
      <dict>
        <key>frame</key>
        <string>{{34,47},{31,14}}</string>
        <key>offset</key>
        <string>{-0.5,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,1},{31,14}}</string>
        <key>sourceSize</key>
        <string>{32,16}</string>
      </dict>
      <key>monster022anim012.png</key>
      <dict>
        <key>frame</key>
        <string>{{1,49},{31,13}}</string>
        <key>offset</key>
        <string>{-0.5,-0.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,2},{31,13}}</string>
        <key>sourceSize</key>
        <string>{32,16}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>pixelFormat</key>
      <string>RGBA8888</string>
      <key>premultiplyAlpha</key>
      <false/>
      <key>realTextureFileName</key>
      <string>monster022.png</string>
      <key>size</key>
      <string>{64,112}</string>
      <key>textureFileName</key>
      <string>monster022</string>
    </dict>
  </dict>
</plist>
