<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster000anim010.png</key>
      <dict>
        <key>frame</key>
        <string>{{1,1},{15,13}}</string>
        <key>offset</key>
        <string>{2,-3}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{5,7},{15,13}}</string>
        <key>sourceSize</key>
        <string>{21,21}</string>
      </dict>
      <key>monster000anim009.png</key>
      <dict>
        <key>frame</key>
        <string>{{18,1},{14,13}}</string>
        <key>offset</key>
        <string>{-1.5,-3}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{2,7},{14,13}}</string>
        <key>sourceSize</key>
        <string>{21,21}</string>
      </dict>
      <key>monster000anim011.png</key>
      <dict>
        <key>frame</key>
        <string>{{34,1},{14,11}}</string>
        <key>offset</key>
        <string>{1.5,-4}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{5,9},{14,11}}</string>
        <key>sourceSize</key>
        <string>{21,21}</string>
      </dict>
      <key>monster000anim007.png</key>
      <dict>
        <key>frame</key>
        <string>{{50,1},{11,13}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{5,6},{11,13}}</string>
        <key>sourceSize</key>
        <string>{21,21}</string>
      </dict>
      <key>monster000anim003.png</key>
      <dict>
        <key>frame</key>
        <string>{{34,14},{13,8}}</string>
        <key>offset</key>
        <string>{0,-5.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{4,12},{13,8}}</string>
        <key>sourceSize</key>
        <string>{21,21}</string>
      </dict>
      <key>monster000anim005.png</key>
      <dict>
        <key>frame</key>
        <string>{{49,14},{13,8}}</string>
        <key>offset</key>
        <string>{0,-1.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{4,8},{13,8}}</string>
        <key>sourceSize</key>
        <string>{21,21}</string>
      </dict>
      <key>monster000anim002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1,16},{9,12}}</string>
        <key>offset</key>
        <string>{0,-3.5}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{6,8},{9,12}}</string>
        <key>sourceSize</key>
        <string>{21,21}</string>
      </dict>
      <key>monster000anim004.png</key>
      <dict>
        <key>frame</key>
        <string>{{15,16},{11,10}}</string>
        <key>offset</key>
        <string>{0,-0.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{5,6},{11,10}}</string>
        <key>sourceSize</key>
        <string>{21,21}</string>
      </dict>
      <key>monster000anim006.png</key>
      <dict>
        <key>frame</key>
        <string>{{1,27},{11,10}}</string>
        <key>offset</key>
        <string>{0,-4.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{5,10},{11,10}}</string>
        <key>sourceSize</key>
        <string>{21,21}</string>
      </dict>
      <key>monster000anim000.png</key>
      <dict>
        <key>frame</key>
        <string>{{28,24},{11,9}}</string>
        <key>offset</key>
        <string>{0,-5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{5,11},{11,9}}</string>
        <key>sourceSize</key>
        <string>{21,21}</string>
      </dict>
      <key>monster000anim001.png</key>
      <dict>
        <key>frame</key>
        <string>{{14,28},{11,9}}</string>
        <key>offset</key>
        <string>{0,-5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{5,11},{11,9}}</string>
        <key>sourceSize</key>
        <string>{21,21}</string>
      </dict>
      <key>monster000anim008.png</key>
      <dict>
        <key>frame</key>
        <string>{{41,24},{7,5}}</string>
        <key>offset</key>
        <string>{0,-7}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{7,15},{7,5}}</string>
        <key>sourceSize</key>
        <string>{21,21}</string>
      </dict>
      <key>monster000anim012.png</key>
      <dict>
        <key>frame</key>
        <string>{{18,1},{14,13}}</string>
        <key>offset</key>
        <string>{-1.5,-3}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{2,7},{14,13}}</string>
        <key>sourceSize</key>
        <string>{21,21}</string>
      </dict>
      <key>monster000anim013.png</key>
      <dict>
        <key>frame</key>
        <string>{{1,1},{15,13}}</string>
        <key>offset</key>
        <string>{2,-3}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{5,7},{15,13}}</string>
        <key>sourceSize</key>
        <string>{21,21}</string>
      </dict>
      <key>monster000anim014.png</key>
      <dict>
        <key>frame</key>
        <string>{{34,1},{14,11}}</string>
        <key>offset</key>
        <string>{1.5,-4}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{5,9},{14,11}}</string>
        <key>sourceSize</key>
        <string>{21,21}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>pixelFormat</key>
      <string>RGBA8888</string>
      <key>premultiplyAlpha</key>
      <false/>
      <key>realTextureFileName</key>
      <string>monster000.png</string>
      <key>size</key>
      <string>{64,64}</string>
      <key>textureFileName</key>
      <string>monster000</string>
    </dict>
  </dict>
</plist>
