<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster009anim007.png</key>
      <dict>
        <key>frame</key>
        <string>{{1,1},{19,21}}</string>
        <key>offset</key>
        <string>{1,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{2,0},{19,21}}</string>
        <key>sourceSize</key>
        <string>{21,21}</string>
      </dict>
      <key>monster009anim003.png</key>
      <dict>
        <key>frame</key>
        <string>{{24,1},{17,21}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{2,0},{17,21}}</string>
        <key>sourceSize</key>
        <string>{21,21}</string>
      </dict>
      <key>monster009anim006.png</key>
      <dict>
        <key>frame</key>
        <string>{{47,1},{16,21}}</string>
        <key>offset</key>
        <string>{-0.5,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{2,0},{16,21}}</string>
        <key>sourceSize</key>
        <string>{21,21}</string>
      </dict>
      <key>monster009anim009.png</key>
      <dict>
        <key>frame</key>
        <string>{{24,20},{16,21}}</string>
        <key>offset</key>
        <string>{-0.5,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{2,0},{16,21}}</string>
        <key>sourceSize</key>
        <string>{21,21}</string>
      </dict>
      <key>monster009anim000.png</key>
      <dict>
        <key>frame</key>
        <string>{{47,24},{16,18}}</string>
        <key>offset</key>
        <string>{-0.5,-1.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{2,3},{16,18}}</string>
        <key>sourceSize</key>
        <string>{21,21}</string>
      </dict>
      <key>monster009anim001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1,22},{16,18}}</string>
        <key>offset</key>
        <string>{-0.5,-1.5}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{2,3},{16,18}}</string>
        <key>sourceSize</key>
        <string>{21,21}</string>
      </dict>
      <key>monster009anim010.png</key>
      <dict>
        <key>frame</key>
        <string>{{21,38},{17,16}}</string>
        <key>offset</key>
        <string>{0,-2.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{2,5},{17,16}}</string>
        <key>sourceSize</key>
        <string>{21,21}</string>
      </dict>
      <key>monster009anim008.png</key>
      <dict>
        <key>frame</key>
        <string>{{1,40},{16,16}}</string>
        <key>offset</key>
        <string>{-0.5,-2.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{2,5},{16,16}}</string>
        <key>sourceSize</key>
        <string>{21,21}</string>
      </dict>
      <key>monster009disguise.png</key>
      <dict>
        <key>frame</key>
        <string>{{40,44},{16,15}}</string>
        <key>offset</key>
        <string>{-0.5,-3}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{2,6},{16,15}}</string>
        <key>sourceSize</key>
        <string>{21,21}</string>
      </dict>
      <key>monster009anim002.png</key>
      <dict>
        <key>frame</key>
        <string>{{47,24},{16,18}}</string>
        <key>offset</key>
        <string>{-0.5,-1.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{2,3},{16,18}}</string>
        <key>sourceSize</key>
        <string>{21,21}</string>
      </dict>
      <key>monster009anim004.png</key>
      <dict>
        <key>frame</key>
        <string>{{47,24},{16,18}}</string>
        <key>offset</key>
        <string>{-0.5,-1.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{2,3},{16,18}}</string>
        <key>sourceSize</key>
        <string>{21,21}</string>
      </dict>
      <key>monster009anim005.png</key>
      <dict>
        <key>frame</key>
        <string>{{24,1},{17,21}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{2,0},{17,21}}</string>
        <key>sourceSize</key>
        <string>{21,21}</string>
      </dict>
      <key>monster009anim011.png</key>
      <dict>
        <key>frame</key>
        <string>{{24,20},{16,21}}</string>
        <key>offset</key>
        <string>{-0.5,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{2,0},{16,21}}</string>
        <key>sourceSize</key>
        <string>{21,21}</string>
      </dict>
      <key>monster009anim012.png</key>
      <dict>
        <key>frame</key>
        <string>{{21,38},{17,16}}</string>
        <key>offset</key>
        <string>{0,-2.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{2,5},{17,16}}</string>
        <key>sourceSize</key>
        <string>{21,21}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>pixelFormat</key>
      <string>RGBA8888</string>
      <key>premultiplyAlpha</key>
      <false/>
      <key>realTextureFileName</key>
      <string>monster009.png</string>
      <key>size</key>
      <string>{64,60}</string>
      <key>textureFileName</key>
      <string>monster009</string>
    </dict>
  </dict>
</plist>
