<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster000anim010.png</key>
      <dict>
        <key>frame</key>
        <string>{{1,1},{15,13}}</string>
        <key>offset</key>
        <string>{2,-3}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{5,7},{15,13}}</string>
        <key>sourceSize</key>
        <string>{21,21}</string>
      </dict>
      <key>monster000anim110.png</key>
      <dict>
        <key>frame</key>
        <string>{{18,1},{15,13}}</string>
        <key>offset</key>
        <string>{2,-3}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{5,7},{15,13}}</string>
        <key>sourceSize</key>
        <string>{21,21}</string>
      </dict>
      <key>monster000anim009.png</key>
      <dict>
        <key>frame</key>
        <string>{{35,1},{14,13}}</string>
        <key>offset</key>
        <string>{-1.5,-3}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{2,7},{14,13}}</string>
        <key>sourceSize</key>
        <string>{21,21}</string>
      </dict>
      <key>monster000anim002.png</key>
      <dict>
        <key>frame</key>
        <string>{{51,1},{9,12}}</string>
        <key>offset</key>
        <string>{0,-3.5}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{6,8},{9,12}}</string>
        <key>sourceSize</key>
        <string>{21,21}</string>
      </dict>
      <key>monster000anim102.png</key>
      <dict>
        <key>frame</key>
        <string>{{51,12},{9,12}}</string>
        <key>offset</key>
        <string>{0,-3.5}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{6,8},{9,12}}</string>
        <key>sourceSize</key>
        <string>{21,21}</string>
      </dict>
      <key>monster000anim109.png</key>
      <dict>
        <key>frame</key>
        <string>{{1,16},{14,13}}</string>
        <key>offset</key>
        <string>{-1.5,-3}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{2,7},{14,13}}</string>
        <key>sourceSize</key>
        <string>{21,21}</string>
      </dict>
      <key>monster000anim011.png</key>
      <dict>
        <key>frame</key>
        <string>{{17,16},{14,11}}</string>
        <key>offset</key>
        <string>{1.5,-4}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{5,9},{14,11}}</string>
        <key>sourceSize</key>
        <string>{21,21}</string>
      </dict>
      <key>monster000anim107.png</key>
      <dict>
        <key>frame</key>
        <string>{{33,16},{11,14}}</string>
        <key>offset</key>
        <string>{0,-1.5}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{5,5},{11,14}}</string>
        <key>sourceSize</key>
        <string>{21,21}</string>
      </dict>
      <key>monster000anim111.png</key>
      <dict>
        <key>frame</key>
        <string>{{49,23},{14,11}}</string>
        <key>offset</key>
        <string>{1.5,-4}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{5,9},{14,11}}</string>
        <key>sourceSize</key>
        <string>{21,21}</string>
      </dict>
      <key>monster000anim114.png</key>
      <dict>
        <key>frame</key>
        <string>{{17,29},{14,11}}</string>
        <key>offset</key>
        <string>{1.5,-4}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{5,9},{14,11}}</string>
        <key>sourceSize</key>
        <string>{21,21}</string>
      </dict>
      <key>monster000anim007.png</key>
      <dict>
        <key>frame</key>
        <string>{{1,31},{11,13}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{5,6},{11,13}}</string>
        <key>sourceSize</key>
        <string>{21,21}</string>
      </dict>
      <key>monster000anim003.png</key>
      <dict>
        <key>frame</key>
        <string>{{33,29},{13,8}}</string>
        <key>offset</key>
        <string>{0,-5.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{4,12},{13,8}}</string>
        <key>sourceSize</key>
        <string>{21,21}</string>
      </dict>
      <key>monster000anim005.png</key>
      <dict>
        <key>frame</key>
        <string>{{48,36},{13,8}}</string>
        <key>offset</key>
        <string>{0,-1.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{4,8},{13,8}}</string>
        <key>sourceSize</key>
        <string>{21,21}</string>
      </dict>
      <key>monster000anim103.png</key>
      <dict>
        <key>frame</key>
        <string>{{33,39},{13,8}}</string>
        <key>offset</key>
        <string>{0,-5.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{4,12},{13,8}}</string>
        <key>sourceSize</key>
        <string>{21,21}</string>
      </dict>
      <key>monster000anim105.png</key>
      <dict>
        <key>frame</key>
        <string>{{48,46},{13,8}}</string>
        <key>offset</key>
        <string>{0,-1.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{4,8},{13,8}}</string>
        <key>sourceSize</key>
        <string>{21,21}</string>
      </dict>
      <key>monster000anim106.png</key>
      <dict>
        <key>frame</key>
        <string>{{16,42},{11,11}}</string>
        <key>offset</key>
        <string>{0,-4}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{5,9},{11,11}}</string>
        <key>sourceSize</key>
        <string>{21,21}</string>
      </dict>
      <key>monster000anim004.png</key>
      <dict>
        <key>frame</key>
        <string>{{1,44},{11,10}}</string>
        <key>offset</key>
        <string>{0,-0.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{5,6},{11,10}}</string>
        <key>sourceSize</key>
        <string>{21,21}</string>
      </dict>
      <key>monster000anim006.png</key>
      <dict>
        <key>frame</key>
        <string>{{29,49},{11,10}}</string>
        <key>offset</key>
        <string>{0,-4.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{5,10},{11,10}}</string>
        <key>sourceSize</key>
        <string>{21,21}</string>
      </dict>
      <key>monster000anim104.png</key>
      <dict>
        <key>frame</key>
        <string>{{14,55},{11,10}}</string>
        <key>offset</key>
        <string>{0,-0.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{5,6},{11,10}}</string>
        <key>sourceSize</key>
        <string>{21,21}</string>
      </dict>
      <key>monster000anim000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1,56},{11,9}}</string>
        <key>offset</key>
        <string>{0,-5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{5,11},{11,9}}</string>
        <key>sourceSize</key>
        <string>{21,21}</string>
      </dict>
      <key>monster000anim001.png</key>
      <dict>
        <key>frame</key>
        <string>{{42,56},{11,9}}</string>
        <key>offset</key>
        <string>{0,-5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{5,11},{11,9}}</string>
        <key>sourceSize</key>
        <string>{21,21}</string>
      </dict>
      <key>monster000anim008.png</key>
      <dict>
        <key>frame</key>
        <string>{{55,56},{7,5}}</string>
        <key>offset</key>
        <string>{0,-7}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{7,15},{7,5}}</string>
        <key>sourceSize</key>
        <string>{21,21}</string>
      </dict>
      <key>monster000anim100.png</key>
      <dict>
        <key>frame</key>
        <string>{{27,61},{11,9}}</string>
        <key>offset</key>
        <string>{0,-5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{5,11},{11,9}}</string>
        <key>sourceSize</key>
        <string>{21,21}</string>
      </dict>
      <key>monster000anim101.png</key>
      <dict>
        <key>frame</key>
        <string>{{27,72},{11,9}}</string>
        <key>offset</key>
        <string>{0,-5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{5,11},{11,9}}</string>
        <key>sourceSize</key>
        <string>{21,21}</string>
      </dict>
      <key>monster000anim108.png</key>
      <dict>
        <key>frame</key>
        <string>{{55,56},{7,5}}</string>
        <key>offset</key>
        <string>{0,-7}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{7,15},{7,5}}</string>
        <key>sourceSize</key>
        <string>{21,21}</string>
      </dict>
      <key>monster000anim012.png</key>
      <dict>
        <key>frame</key>
        <string>{{35,1},{14,13}}</string>
        <key>offset</key>
        <string>{-1.5,-3}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{2,7},{14,13}}</string>
        <key>sourceSize</key>
        <string>{21,21}</string>
      </dict>
      <key>monster000anim013.png</key>
      <dict>
        <key>frame</key>
        <string>{{1,1},{15,13}}</string>
        <key>offset</key>
        <string>{2,-3}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{5,7},{15,13}}</string>
        <key>sourceSize</key>
        <string>{21,21}</string>
      </dict>
      <key>monster000anim014.png</key>
      <dict>
        <key>frame</key>
        <string>{{17,16},{14,11}}</string>
        <key>offset</key>
        <string>{1.5,-4}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{5,9},{14,11}}</string>
        <key>sourceSize</key>
        <string>{21,21}</string>
      </dict>
      <key>monster000anim112.png</key>
      <dict>
        <key>frame</key>
        <string>{{1,16},{14,13}}</string>
        <key>offset</key>
        <string>{-1.5,-3}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{2,7},{14,13}}</string>
        <key>sourceSize</key>
        <string>{21,21}</string>
      </dict>
      <key>monster000anim113.png</key>
      <dict>
        <key>frame</key>
        <string>{{18,1},{15,13}}</string>
        <key>offset</key>
        <string>{2,-3}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{5,7},{15,13}}</string>
        <key>sourceSize</key>
        <string>{21,21}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>pixelFormat</key>
      <string>RGBA8888</string>
      <key>premultiplyAlpha</key>
      <false/>
      <key>realTextureFileName</key>
      <string>monster000.png</string>
      <key>size</key>
      <string>{64,82}</string>
      <key>textureFileName</key>
      <string>monster000</string>
    </dict>
  </dict>
</plist>
