<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>nonplayer002anim010.png</key>
      <dict>
        <key>frame</key>
        <string>{{1,1},{18,20}}</string>
        <key>offset</key>
        <string>{1.5,-0.5}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{3,1},{18,20}}</string>
        <key>sourceSize</key>
        <string>{21,21}</string>
      </dict>
      <key>nonplayer002anim012.png</key>
      <dict>
        <key>frame</key>
        <string>{{23,1},{20,17}}</string>
        <key>offset</key>
        <string>{0.5,-2}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{1,4},{20,17}}</string>
        <key>sourceSize</key>
        <string>{21,21}</string>
      </dict>
      <key>nonplayer002anim007.png</key>
      <dict>
        <key>frame</key>
        <string>{{45,1},{9,18}}</string>
        <key>offset</key>
        <string>{-1,-1.5}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{5,3},{9,18}}</string>
        <key>sourceSize</key>
        <string>{21,21}</string>
      </dict>
      <key>nonplayer002anim011.png</key>
      <dict>
        <key>frame</key>
        <string>{{45,12},{11,16}}</string>
        <key>offset</key>
        <string>{0,-2.5}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{5,5},{11,16}}</string>
        <key>sourceSize</key>
        <string>{21,21}</string>
      </dict>
      <key>nonplayer002anim009.png</key>
      <dict>
        <key>frame</key>
        <string>{{23,20},{15,19}}</string>
        <key>offset</key>
        <string>{-3,-1}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,2},{15,19}}</string>
        <key>sourceSize</key>
        <string>{21,21}</string>
      </dict>
      <key>nonplayer002anim000.png</key>
      <dict>
        <key>frame</key>
        <string>{{44,25},{8,16}}</string>
        <key>offset</key>
        <string>{0.5,-2.5}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{7,5},{8,16}}</string>
        <key>sourceSize</key>
        <string>{21,21}</string>
      </dict>
      <key>nonplayer002anim005.png</key>
      <dict>
        <key>frame</key>
        <string>{{44,35},{8,16}}</string>
        <key>offset</key>
        <string>{0.5,-2.5}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{7,5},{8,16}}</string>
        <key>sourceSize</key>
        <string>{21,21}</string>
      </dict>
      <key>nonplayer002anim002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1,21},{8,15}}</string>
        <key>offset</key>
        <string>{0.5,-2}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{7,5},{8,15}}</string>
        <key>sourceSize</key>
        <string>{21,21}</string>
      </dict>
      <key>nonplayer002anim003.png</key>
      <dict>
        <key>frame</key>
        <string>{{1,31},{8,15}}</string>
        <key>offset</key>
        <string>{0.5,-3}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{7,6},{8,15}}</string>
        <key>sourceSize</key>
        <string>{21,21}</string>
      </dict>
      <key>nonplayer002anim006.png</key>
      <dict>
        <key>frame</key>
        <string>{{18,37},{8,15}}</string>
        <key>offset</key>
        <string>{0.5,-3}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{7,6},{8,15}}</string>
        <key>sourceSize</key>
        <string>{21,21}</string>
      </dict>
      <key>nonplayer002anim004.png</key>
      <dict>
        <key>frame</key>
        <string>{{1,41},{8,14}}</string>
        <key>offset</key>
        <string>{0.5,-2.5}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{7,6},{8,14}}</string>
        <key>sourceSize</key>
        <string>{21,21}</string>
      </dict>
      <key>nonplayer002anim008.png</key>
      <dict>
        <key>frame</key>
        <string>{{35,45},{8,11}}</string>
        <key>offset</key>
        <string>{0.5,-5}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{7,10},{8,11}}</string>
        <key>sourceSize</key>
        <string>{21,21}</string>
      </dict>
      <key>nonplayer002anim001.png</key>
      <dict>
        <key>frame</key>
        <string>{{44,25},{8,16}}</string>
        <key>offset</key>
        <string>{0.5,-2.5}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{7,5},{8,16}}</string>
        <key>sourceSize</key>
        <string>{21,21}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>pixelFormat</key>
      <string>RGBA8888</string>
      <key>premultiplyAlpha</key>
      <false/>
      <key>realTextureFileName</key>
      <string>nonplayer002.png</string>
      <key>size</key>
      <string>{64,54}</string>
      <key>textureFileName</key>
      <string>nonplayer002</string>
    </dict>
  </dict>
</plist>
