<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>nonplayer101anim009.png</key>
      <dict>
        <key>frame</key>
        <string>{{1,1},{24,23}}</string>
        <key>offset</key>
        <string>{0,-0.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,1},{24,23}}</string>
        <key>sourceSize</key>
        <string>{24,24}</string>
      </dict>
      <key>nonplayer101anim010.png</key>
      <dict>
        <key>frame</key>
        <string>{{27,1},{24,20}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,4},{24,20}}</string>
        <key>sourceSize</key>
        <string>{24,24}</string>
      </dict>
      <key>nonplayer101anim002.png</key>
      <dict>
        <key>frame</key>
        <string>{{27,23},{23,22}}</string>
        <key>offset</key>
        <string>{-0.5,-1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,2},{23,22}}</string>
        <key>sourceSize</key>
        <string>{24,24}</string>
      </dict>
      <key>nonplayer101anim004.png</key>
      <dict>
        <key>frame</key>
        <string>{{1,26},{23,21}}</string>
        <key>offset</key>
        <string>{-0.5,0.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,1},{23,21}}</string>
        <key>sourceSize</key>
        <string>{24,24}</string>
      </dict>
      <key>nonplayer101anim003.png</key>
      <dict>
        <key>frame</key>
        <string>{{26,47},{23,19}}</string>
        <key>offset</key>
        <string>{-0.5,1.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,1},{23,19}}</string>
        <key>sourceSize</key>
        <string>{24,24}</string>
      </dict>
      <key>nonplayer101anim008.png</key>
      <dict>
        <key>frame</key>
        <string>{{1,49},{23,19}}</string>
        <key>offset</key>
        <string>{-0.5,-2.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,5},{23,19}}</string>
        <key>sourceSize</key>
        <string>{24,24}</string>
      </dict>
      <key>nonplayer101anim011.png</key>
      <dict>
        <key>frame</key>
        <string>{{26,68},{23,19}}</string>
        <key>offset</key>
        <string>{-0.5,-2.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,5},{23,19}}</string>
        <key>sourceSize</key>
        <string>{24,24}</string>
      </dict>
      <key>nonplayer101anim005.png</key>
      <dict>
        <key>frame</key>
        <string>{{1,70},{22,21}}</string>
        <key>offset</key>
        <string>{0,-1.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{1,3},{22,21}}</string>
        <key>sourceSize</key>
        <string>{24,24}</string>
      </dict>
      <key>nonplayer101anim000.png</key>
      <dict>
        <key>frame</key>
        <string>{{25,89},{22,19}}</string>
        <key>offset</key>
        <string>{-1,-1.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,4},{22,19}}</string>
        <key>sourceSize</key>
        <string>{24,24}</string>
      </dict>
      <key>nonplayer101anim001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1,93},{22,18}}</string>
        <key>offset</key>
        <string>{-1,-2}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,5},{22,18}}</string>
        <key>sourceSize</key>
        <string>{24,24}</string>
      </dict>
      <key>nonplayer101anim006.png</key>
      <dict>
        <key>frame</key>
        <string>{{25,110},{21,20}}</string>
        <key>offset</key>
        <string>{-1.5,-2}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,4},{21,20}}</string>
        <key>sourceSize</key>
        <string>{24,24}</string>
      </dict>
      <key>nonplayer101anim007.png</key>
      <dict>
        <key>frame</key>
        <string>{{1,113},{21,20}}</string>
        <key>offset</key>
        <string>{-1.5,-2}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,4},{21,20}}</string>
        <key>sourceSize</key>
        <string>{24,24}</string>
      </dict>
      <key>nonplayer101anim012.png</key>
      <dict>
        <key>frame</key>
        <string>{{1,1},{24,23}}</string>
        <key>offset</key>
        <string>{0,-0.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,1},{24,23}}</string>
        <key>sourceSize</key>
        <string>{24,24}</string>
      </dict>
      <key>nonplayer101anim013.png</key>
      <dict>
        <key>frame</key>
        <string>{{27,1},{24,20}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,4},{24,20}}</string>
        <key>sourceSize</key>
        <string>{24,24}</string>
      </dict>
      <key>nonplayer101anim014.png</key>
      <dict>
        <key>frame</key>
        <string>{{26,68},{23,19}}</string>
        <key>offset</key>
        <string>{-0.5,-2.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,5},{23,19}}</string>
        <key>sourceSize</key>
        <string>{24,24}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>pixelFormat</key>
      <string>RGBA8888</string>
      <key>premultiplyAlpha</key>
      <false/>
      <key>realTextureFileName</key>
      <string>nonplayer101.png</string>
      <key>size</key>
      <string>{52,134}</string>
      <key>textureFileName</key>
      <string>nonplayer101</string>
    </dict>
  </dict>
</plist>
