/jsb-default/assets
/jsb-default/frameworks/cocos2d-x
/jsb-default/frameworks/runtime-src/Classes
/jsb-default/frameworks/runtime-src/proj.ios_mac
/jsb-default/frameworks/runtime-src/proj.win32
/jsb-default/frameworks/runtime-src/proj.android-studio/.idea