<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster013anim008.png</key>
      <dict>
        <key>frame</key>
        <string>{{1,1},{11,20}}</string>
        <key>offset</key>
        <string>{-1,-0.5}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{4,1},{11,20}}</string>
        <key>sourceSize</key>
        <string>{21,21}</string>
      </dict>
      <key>monster013anim000.png</key>
      <dict>
        <key>frame</key>
        <string>{{23,1},{14,19}}</string>
        <key>offset</key>
        <string>{-0.5,-1}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{3,2},{14,19}}</string>
        <key>sourceSize</key>
        <string>{21,21}</string>
      </dict>
      <key>monster013anim001.png</key>
      <dict>
        <key>frame</key>
        <string>{{44,1},{14,19}}</string>
        <key>offset</key>
        <string>{-0.5,-1}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{3,2},{14,19}}</string>
        <key>sourceSize</key>
        <string>{21,21}</string>
      </dict>
      <key>monster013anim002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1,14},{14,19}}</string>
        <key>offset</key>
        <string>{-0.5,-1}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{3,2},{14,19}}</string>
        <key>sourceSize</key>
        <string>{21,21}</string>
      </dict>
      <key>monster013anim003.png</key>
      <dict>
        <key>frame</key>
        <string>{{22,17},{14,19}}</string>
        <key>offset</key>
        <string>{-0.5,-1}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{3,2},{14,19}}</string>
        <key>sourceSize</key>
        <string>{21,21}</string>
      </dict>
      <key>monster013anim009.png</key>
      <dict>
        <key>frame</key>
        <string>{{1,30},{18,18}}</string>
        <key>offset</key>
        <string>{-1.5,-1.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,3},{18,18}}</string>
        <key>sourceSize</key>
        <string>{21,21}</string>
      </dict>
      <key>monster013anim006.png</key>
      <dict>
        <key>frame</key>
        <string>{{43,17},{13,18}}</string>
        <key>offset</key>
        <string>{-1,-1.5}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{3,3},{13,18}}</string>
        <key>sourceSize</key>
        <string>{21,21}</string>
      </dict>
      <key>monster013anim010.png</key>
      <dict>
        <key>frame</key>
        <string>{{43,32},{10,18}}</string>
        <key>offset</key>
        <string>{1.5,-1.5}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{7,3},{10,18}}</string>
        <key>sourceSize</key>
        <string>{21,21}</string>
      </dict>
      <key>monster013anim007.png</key>
      <dict>
        <key>frame</key>
        <string>{{21,33},{15,16}}</string>
        <key>offset</key>
        <string>{-2,-2.5}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{1,5},{15,16}}</string>
        <key>sourceSize</key>
        <string>{21,21}</string>
      </dict>
      <key>monster013anim004.png</key>
      <dict>
        <key>frame</key>
        <string>{{1,14},{14,19}}</string>
        <key>offset</key>
        <string>{-0.5,-1}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{3,2},{14,19}}</string>
        <key>sourceSize</key>
        <string>{21,21}</string>
      </dict>
      <key>monster013anim005.png</key>
      <dict>
        <key>frame</key>
        <string>{{22,17},{14,19}}</string>
        <key>offset</key>
        <string>{-0.5,-1}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{3,2},{14,19}}</string>
        <key>sourceSize</key>
        <string>{21,21}</string>
      </dict>
      <key>monster013anim011.png</key>
      <dict>
        <key>frame</key>
        <string>{{1,30},{18,18}}</string>
        <key>offset</key>
        <string>{-1.5,-1.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,3},{18,18}}</string>
        <key>sourceSize</key>
        <string>{21,21}</string>
      </dict>
      <key>monster013anim012.png</key>
      <dict>
        <key>frame</key>
        <string>{{43,32},{10,18}}</string>
        <key>offset</key>
        <string>{1.5,-1.5}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{7,3},{10,18}}</string>
        <key>sourceSize</key>
        <string>{21,21}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>pixelFormat</key>
      <string>RGBA8888</string>
      <key>premultiplyAlpha</key>
      <false/>
      <key>realTextureFileName</key>
      <string>monster013.png</string>
      <key>size</key>
      <string>{64,49}</string>
      <key>textureFileName</key>
      <string>monster013</string>
    </dict>
  </dict>
</plist>
