<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster001anim010.png</key>
      <dict>
        <key>frame</key>
        <string>{{1,1},{15,19}}</string>
        <key>offset</key>
        <string>{3,-1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{6,2},{15,19}}</string>
        <key>sourceSize</key>
        <string>{21,21}</string>
      </dict>
      <key>monster001anim009.png</key>
      <dict>
        <key>frame</key>
        <string>{{1,22},{14,19}}</string>
        <key>offset</key>
        <string>{-0.5,-1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{3,2},{14,19}}</string>
        <key>sourceSize</key>
        <string>{21,21}</string>
      </dict>
      <key>monster001anim002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1,43},{13,19}}</string>
        <key>offset</key>
        <string>{0,-1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{4,2},{13,19}}</string>
        <key>sourceSize</key>
        <string>{21,21}</string>
      </dict>
      <key>monster001anim000.png</key>
      <dict>
        <key>frame</key>
        <string>{{16,43},{11,19}}</string>
        <key>offset</key>
        <string>{-1,-1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{4,2},{11,19}}</string>
        <key>sourceSize</key>
        <string>{21,21}</string>
      </dict>
      <key>monster001anim001.png</key>
      <dict>
        <key>frame</key>
        <string>{{17,22},{11,19}}</string>
        <key>offset</key>
        <string>{-1,-1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{4,2},{11,19}}</string>
        <key>sourceSize</key>
        <string>{21,21}</string>
      </dict>
      <key>monster001anim003.png</key>
      <dict>
        <key>frame</key>
        <string>{{29,1},{11,19}}</string>
        <key>offset</key>
        <string>{0,-1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{5,2},{11,19}}</string>
        <key>sourceSize</key>
        <string>{21,21}</string>
      </dict>
      <key>monster001anim008.png</key>
      <dict>
        <key>frame</key>
        <string>{{18,1},{9,17}}</string>
        <key>offset</key>
        <string>{1,-2}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{7,4},{9,17}}</string>
        <key>sourceSize</key>
        <string>{21,21}</string>
      </dict>
      <key>monster001anim006.png</key>
      <dict>
        <key>frame</key>
        <string>{{29,43},{10,17}}</string>
        <key>offset</key>
        <string>{0.5,-2}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{6,4},{10,17}}</string>
        <key>sourceSize</key>
        <string>{21,21}</string>
      </dict>
      <key>monster001anim007.png</key>
      <dict>
        <key>frame</key>
        <string>{{30,22},{16,16}}</string>
        <key>offset</key>
        <string>{-2.5,-2.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,5},{16,16}}</string>
        <key>sourceSize</key>
        <string>{21,21}</string>
      </dict>
      <key>monster001anim004.png</key>
      <dict>
        <key>frame</key>
        <string>{{1,43},{13,19}}</string>
        <key>offset</key>
        <string>{0,-1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{4,2},{13,19}}</string>
        <key>sourceSize</key>
        <string>{21,21}</string>
      </dict>
      <key>monster001anim005.png</key>
      <dict>
        <key>frame</key>
        <string>{{29,1},{11,19}}</string>
        <key>offset</key>
        <string>{0,-1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{5,2},{11,19}}</string>
        <key>sourceSize</key>
        <string>{21,21}</string>
      </dict>
      <key>monster001anim011.png</key>
      <dict>
        <key>frame</key>
        <string>{{1,22},{14,19}}</string>
        <key>offset</key>
        <string>{-0.5,-1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{3,2},{14,19}}</string>
        <key>sourceSize</key>
        <string>{21,21}</string>
      </dict>
      <key>monster001anim012.png</key>
      <dict>
        <key>frame</key>
        <string>{{1,1},{15,19}}</string>
        <key>offset</key>
        <string>{3,-1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{6,2},{15,19}}</string>
        <key>sourceSize</key>
        <string>{21,21}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>pixelFormat</key>
      <string>RGBA8888</string>
      <key>premultiplyAlpha</key>
      <false/>
      <key>realTextureFileName</key>
      <string>monster001.png</string>
      <key>size</key>
      <string>{64,64}</string>
      <key>textureFileName</key>
      <string>monster001</string>
    </dict>
  </dict>
</plist>
