<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster034anim007.png</key>
      <dict>
        <key>frame</key>
        <string>{{1,1},{18,19}}</string>
        <key>offset</key>
        <string>{0.5,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{2,1},{18,19}}</string>
        <key>sourceSize</key>
        <string>{21,21}</string>
      </dict>
      <key>monster034anim006.png</key>
      <dict>
        <key>frame</key>
        <string>{{22,1},{18,18}}</string>
        <key>offset</key>
        <string>{-0.5,0.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{1,1},{18,18}}</string>
        <key>sourceSize</key>
        <string>{21,21}</string>
      </dict>
      <key>monster034anim010.png</key>
      <dict>
        <key>frame</key>
        <string>{{42,1},{17,18}}</string>
        <key>offset</key>
        <string>{0,0.5}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{2,1},{17,18}}</string>
        <key>sourceSize</key>
        <string>{21,21}</string>
      </dict>
      <key>monster034anim000.png</key>
      <dict>
        <key>frame</key>
        <string>{{42,20},{17,17}}</string>
        <key>offset</key>
        <string>{0,1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{2,1},{17,17}}</string>
        <key>sourceSize</key>
        <string>{21,21}</string>
      </dict>
      <key>monster034anim001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1,21},{17,17}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{2,2},{17,17}}</string>
        <key>sourceSize</key>
        <string>{21,21}</string>
      </dict>
      <key>monster034anim003.png</key>
      <dict>
        <key>frame</key>
        <string>{{20,21},{17,17}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{2,2},{17,17}}</string>
        <key>sourceSize</key>
        <string>{21,21}</string>
      </dict>
      <key>monster034anim008.png</key>
      <dict>
        <key>frame</key>
        <string>{{39,39},{17,17}}</string>
        <key>offset</key>
        <string>{0,-1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{2,3},{17,17}}</string>
        <key>sourceSize</key>
        <string>{21,21}</string>
      </dict>
      <key>monster034anim009.png</key>
      <dict>
        <key>frame</key>
        <string>{{1,40},{17,17}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{2,2},{17,17}}</string>
        <key>sourceSize</key>
        <string>{21,21}</string>
      </dict>
      <key>monster034anim002.png</key>
      <dict>
        <key>frame</key>
        <string>{{42,20},{17,17}}</string>
        <key>offset</key>
        <string>{0,1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{2,1},{17,17}}</string>
        <key>sourceSize</key>
        <string>{21,21}</string>
      </dict>
      <key>monster034anim004.png</key>
      <dict>
        <key>frame</key>
        <string>{{42,20},{17,17}}</string>
        <key>offset</key>
        <string>{0,1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{2,1},{17,17}}</string>
        <key>sourceSize</key>
        <string>{21,21}</string>
      </dict>
      <key>monster034anim005.png</key>
      <dict>
        <key>frame</key>
        <string>{{20,21},{17,17}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{2,2},{17,17}}</string>
        <key>sourceSize</key>
        <string>{21,21}</string>
      </dict>
      <key>monster034anim011.png</key>
      <dict>
        <key>frame</key>
        <string>{{1,40},{17,17}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{2,2},{17,17}}</string>
        <key>sourceSize</key>
        <string>{21,21}</string>
      </dict>
      <key>monster034anim012.png</key>
      <dict>
        <key>frame</key>
        <string>{{42,1},{17,18}}</string>
        <key>offset</key>
        <string>{0,0.5}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{2,1},{17,18}}</string>
        <key>sourceSize</key>
        <string>{21,21}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>pixelFormat</key>
      <string>RGBA8888</string>
      <key>premultiplyAlpha</key>
      <false/>
      <key>realTextureFileName</key>
      <string>monster034.png</string>
      <key>size</key>
      <string>{61,58}</string>
      <key>textureFileName</key>
      <string>monster034</string>
    </dict>
  </dict>
</plist>
