<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster019anim006.png</key>
      <dict>
        <key>frame</key>
        <string>{{1,1},{11,19}}</string>
        <key>offset</key>
        <string>{0,-1}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{5,2},{11,19}}</string>
        <key>sourceSize</key>
        <string>{21,21}</string>
      </dict>
      <key>monster019anim007.png</key>
      <dict>
        <key>frame</key>
        <string>{{22,1},{11,19}}</string>
        <key>offset</key>
        <string>{0,-1}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{5,2},{11,19}}</string>
        <key>sourceSize</key>
        <string>{21,21}</string>
      </dict>
      <key>monster019anim008.png</key>
      <dict>
        <key>frame</key>
        <string>{{43,1},{8,19}}</string>
        <key>offset</key>
        <string>{-0.5,-1}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{6,2},{8,19}}</string>
        <key>sourceSize</key>
        <string>{21,21}</string>
      </dict>
      <key>monster019anim002.png</key>
      <dict>
        <key>frame</key>
        <string>{{43,11},{13,18}}</string>
        <key>offset</key>
        <string>{1,-1.5}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{5,3},{13,18}}</string>
        <key>sourceSize</key>
        <string>{21,21}</string>
      </dict>
      <key>monster019anim009.png</key>
      <dict>
        <key>frame</key>
        <string>{{1,14},{12,18}}</string>
        <key>offset</key>
        <string>{-0.5,-1.5}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{4,3},{12,18}}</string>
        <key>sourceSize</key>
        <string>{21,21}</string>
      </dict>
      <key>monster019anim003.png</key>
      <dict>
        <key>frame</key>
        <string>{{21,14},{10,18}}</string>
        <key>offset</key>
        <string>{1.5,-1.5}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{7,3},{10,18}}</string>
        <key>sourceSize</key>
        <string>{21,21}</string>
      </dict>
      <key>monster019anim000.png</key>
      <dict>
        <key>frame</key>
        <string>{{21,26},{9,18}}</string>
        <key>offset</key>
        <string>{0,-1.5}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{6,3},{9,18}}</string>
        <key>sourceSize</key>
        <string>{21,21}</string>
      </dict>
      <key>monster019anim001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1,28},{9,18}}</string>
        <key>offset</key>
        <string>{0,-1.5}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{6,3},{9,18}}</string>
        <key>sourceSize</key>
        <string>{21,21}</string>
      </dict>
      <key>monster019anim010.png</key>
      <dict>
        <key>frame</key>
        <string>{{41,26},{12,17}}</string>
        <key>offset</key>
        <string>{1.5,-2}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{6,4},{12,17}}</string>
        <key>sourceSize</key>
        <string>{21,21}</string>
      </dict>
      <key>monster019anim012.png</key>
      <dict>
        <key>frame</key>
        <string>{{21,37},{16,16}}</string>
        <key>offset</key>
        <string>{2.5,-2.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{5,5},{16,16}}</string>
        <key>sourceSize</key>
        <string>{21,21}</string>
      </dict>
      <key>monster019anim011.png</key>
      <dict>
        <key>frame</key>
        <string>{{1,39},{10,16}}</string>
        <key>offset</key>
        <string>{-0.5,-2.5}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{5,5},{10,16}}</string>
        <key>sourceSize</key>
        <string>{21,21}</string>
      </dict>
      <key>monster019anim004.png</key>
      <dict>
        <key>frame</key>
        <string>{{43,11},{13,18}}</string>
        <key>offset</key>
        <string>{1,-1.5}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{5,3},{13,18}}</string>
        <key>sourceSize</key>
        <string>{21,21}</string>
      </dict>
      <key>monster019anim005.png</key>
      <dict>
        <key>frame</key>
        <string>{{21,14},{10,18}}</string>
        <key>offset</key>
        <string>{1.5,-1.5}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{7,3},{10,18}}</string>
        <key>sourceSize</key>
        <string>{21,21}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>pixelFormat</key>
      <string>RGBA8888</string>
      <key>premultiplyAlpha</key>
      <false/>
      <key>realTextureFileName</key>
      <string>monster019.png</string>
      <key>size</key>
      <string>{63,54}</string>
      <key>textureFileName</key>
      <string>monster019</string>
    </dict>
  </dict>
</plist>
