<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster032anim013.png</key>
      <dict>
        <key>frame</key>
        <string>{{1,1},{20,10}}</string>
        <key>offset</key>
        <string>{0.5,-4.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{1,10},{20,10}}</string>
        <key>sourceSize</key>
        <string>{21,21}</string>
      </dict>
      <key>monster032anim004.png</key>
      <dict>
        <key>frame</key>
        <string>{{23,1},{12,19}}</string>
        <key>offset</key>
        <string>{2.5,-1}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{7,2},{12,19}}</string>
        <key>sourceSize</key>
        <string>{21,21}</string>
      </dict>
      <key>monster032anim000.png</key>
      <dict>
        <key>frame</key>
        <string>{{44,1},{11,19}}</string>
        <key>offset</key>
        <string>{0,-1}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{5,2},{11,19}}</string>
        <key>sourceSize</key>
        <string>{21,21}</string>
      </dict>
      <key>monster032anim007.png</key>
      <dict>
        <key>frame</key>
        <string>{{44,14},{11,19}}</string>
        <key>offset</key>
        <string>{0,-1}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{5,2},{11,19}}</string>
        <key>sourceSize</key>
        <string>{21,21}</string>
      </dict>
      <key>monster032anim001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1,13},{10,19}}</string>
        <key>offset</key>
        <string>{0.5,-1}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{6,2},{10,19}}</string>
        <key>sourceSize</key>
        <string>{21,21}</string>
      </dict>
      <key>monster032anim005.png</key>
      <dict>
        <key>frame</key>
        <string>{{22,15},{10,19}}</string>
        <key>offset</key>
        <string>{-0.5,-1}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{5,2},{10,19}}</string>
        <key>sourceSize</key>
        <string>{21,21}</string>
      </dict>
      <key>monster032anim014.png</key>
      <dict>
        <key>frame</key>
        <string>{{1,25},{19,10}}</string>
        <key>offset</key>
        <string>{1,-5.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{2,11},{19,10}}</string>
        <key>sourceSize</key>
        <string>{21,21}</string>
      </dict>
      <key>monster032anim008.png</key>
      <dict>
        <key>frame</key>
        <string>{{22,27},{8,19}}</string>
        <key>offset</key>
        <string>{-0.5,-1}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{6,2},{8,19}}</string>
        <key>sourceSize</key>
        <string>{21,21}</string>
      </dict>
      <key>monster032anim009.png</key>
      <dict>
        <key>frame</key>
        <string>{{43,27},{12,18}}</string>
        <key>offset</key>
        <string>{-0.5,-1.5}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{4,3},{12,18}}</string>
        <key>sourceSize</key>
        <string>{21,21}</string>
      </dict>
      <key>monster032anim003.png</key>
      <dict>
        <key>frame</key>
        <string>{{43,41},{10,18}}</string>
        <key>offset</key>
        <string>{1.5,-1.5}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{7,3},{10,18}}</string>
        <key>sourceSize</key>
        <string>{21,21}</string>
      </dict>
      <key>monster032anim011.png</key>
      <dict>
        <key>frame</key>
        <string>{{1,37},{13,17}}</string>
        <key>offset</key>
        <string>{-1,-2}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{3,4},{13,17}}</string>
        <key>sourceSize</key>
        <string>{21,21}</string>
      </dict>
      <key>monster032anim010.png</key>
      <dict>
        <key>frame</key>
        <string>{{20,37},{12,17}}</string>
        <key>offset</key>
        <string>{1.5,-2}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{6,4},{12,17}}</string>
        <key>sourceSize</key>
        <string>{21,21}</string>
      </dict>
      <key>monster032anim006.png</key>
      <dict>
        <key>frame</key>
        <string>{{20,51},{10,17}}</string>
        <key>offset</key>
        <string>{0.5,-2}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{6,4},{10,17}}</string>
        <key>sourceSize</key>
        <string>{21,21}</string>
      </dict>
      <key>monster032anim012.png</key>
      <dict>
        <key>frame</key>
        <string>{{1,52},{15,15}}</string>
        <key>offset</key>
        <string>{1,-2}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{4,5},{15,15}}</string>
        <key>sourceSize</key>
        <string>{21,21}</string>
      </dict>
      <key>monster032anim015.png</key>
      <dict>
        <key>frame</key>
        <string>{{39,53},{9,15}}</string>
        <key>offset</key>
        <string>{2,-3}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{8,6},{9,15}}</string>
        <key>sourceSize</key>
        <string>{21,21}</string>
      </dict>
      <key>monster032anim002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1,13},{10,19}}</string>
        <key>offset</key>
        <string>{0.5,-1}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{6,2},{10,19}}</string>
        <key>sourceSize</key>
        <string>{21,21}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>pixelFormat</key>
      <string>RGBA8888</string>
      <key>premultiplyAlpha</key>
      <false/>
      <key>realTextureFileName</key>
      <string>monster032.png</string>
      <key>size</key>
      <string>{64,68}</string>
      <key>textureFileName</key>
      <string>monster032</string>
    </dict>
  </dict>
</plist>
