<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster035anim010.png</key>
      <dict>
        <key>frame</key>
        <string>{{1,1},{21,18}}</string>
        <key>offset</key>
        <string>{0,0.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,1},{21,18}}</string>
        <key>sourceSize</key>
        <string>{21,21}</string>
      </dict>
      <key>monster035anim007.png</key>
      <dict>
        <key>frame</key>
        <string>{{24,1},{15,17}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{3,2},{15,17}}</string>
        <key>sourceSize</key>
        <string>{21,21}</string>
      </dict>
      <key>monster035anim000.png</key>
      <dict>
        <key>frame</key>
        <string>{{43,1},{14,17}}</string>
        <key>offset</key>
        <string>{-2.5,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{1,2},{14,17}}</string>
        <key>sourceSize</key>
        <string>{21,21}</string>
      </dict>
      <key>monster035anim001.png</key>
      <dict>
        <key>frame</key>
        <string>{{43,17},{14,17}}</string>
        <key>offset</key>
        <string>{-1.5,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{2,2},{14,17}}</string>
        <key>sourceSize</key>
        <string>{21,21}</string>
      </dict>
      <key>monster035anim002.png</key>
      <dict>
        <key>frame</key>
        <string>{{24,18},{14,17}}</string>
        <key>offset</key>
        <string>{-2.5,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{1,2},{14,17}}</string>
        <key>sourceSize</key>
        <string>{21,21}</string>
      </dict>
      <key>monster035anim003.png</key>
      <dict>
        <key>frame</key>
        <string>{{43,33},{14,17}}</string>
        <key>offset</key>
        <string>{-1.5,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{2,2},{14,17}}</string>
        <key>sourceSize</key>
        <string>{21,21}</string>
      </dict>
      <key>monster035anim006.png</key>
      <dict>
        <key>frame</key>
        <string>{{1,21},{14,17}}</string>
        <key>offset</key>
        <string>{-2.5,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{1,2},{14,17}}</string>
        <key>sourceSize</key>
        <string>{21,21}</string>
      </dict>
      <key>monster035anim009.png</key>
      <dict>
        <key>frame</key>
        <string>{{20,34},{14,17}}</string>
        <key>offset</key>
        <string>{-2.5,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{1,2},{14,17}}</string>
        <key>sourceSize</key>
        <string>{21,21}</string>
      </dict>
      <key>monster035anim008.png</key>
      <dict>
        <key>frame</key>
        <string>{{1,37},{13,17}}</string>
        <key>offset</key>
        <string>{-2,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{2,2},{13,17}}</string>
        <key>sourceSize</key>
        <string>{21,21}</string>
      </dict>
      <key>monster035anim004.png</key>
      <dict>
        <key>frame</key>
        <string>{{24,18},{14,17}}</string>
        <key>offset</key>
        <string>{-2.5,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{1,2},{14,17}}</string>
        <key>sourceSize</key>
        <string>{21,21}</string>
      </dict>
      <key>monster035anim005.png</key>
      <dict>
        <key>frame</key>
        <string>{{43,33},{14,17}}</string>
        <key>offset</key>
        <string>{-1.5,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{2,2},{14,17}}</string>
        <key>sourceSize</key>
        <string>{21,21}</string>
      </dict>
      <key>monster035anim011.png</key>
      <dict>
        <key>frame</key>
        <string>{{20,34},{14,17}}</string>
        <key>offset</key>
        <string>{-2.5,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{1,2},{14,17}}</string>
        <key>sourceSize</key>
        <string>{21,21}</string>
      </dict>
      <key>monster035anim012.png</key>
      <dict>
        <key>frame</key>
        <string>{{1,1},{21,18}}</string>
        <key>offset</key>
        <string>{0,0.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,1},{21,18}}</string>
        <key>sourceSize</key>
        <string>{21,21}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>pixelFormat</key>
      <string>RGBA8888</string>
      <key>premultiplyAlpha</key>
      <false/>
      <key>realTextureFileName</key>
      <string>monster035.png</string>
      <key>size</key>
      <string>{61,51}</string>
      <key>textureFileName</key>
      <string>monster035</string>
    </dict>
  </dict>
</plist>
