<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster004anim006.png</key>
      <dict>
        <key>frame</key>
        <string>{{1,1},{12,20}}</string>
        <key>offset</key>
        <string>{0.5,-0.5}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{5,1},{12,20}}</string>
        <key>sourceSize</key>
        <string>{21,21}</string>
      </dict>
      <key>monster004anim008.png</key>
      <dict>
        <key>frame</key>
        <string>{{23,1},{12,20}}</string>
        <key>offset</key>
        <string>{0.5,-0.5}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{5,1},{12,20}}</string>
        <key>sourceSize</key>
        <string>{21,21}</string>
      </dict>
      <key>monster004anim000.png</key>
      <dict>
        <key>frame</key>
        <string>{{45,1},{14,19}}</string>
        <key>offset</key>
        <string>{2.5,-1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{6,2},{14,19}}</string>
        <key>sourceSize</key>
        <string>{21,21}</string>
      </dict>
      <key>monster004anim001.png</key>
      <dict>
        <key>frame</key>
        <string>{{45,1},{14,19}}</string>
        <key>offset</key>
        <string>{2.5,-1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{6,2},{14,19}}</string>
        <key>sourceSize</key>
        <string>{21,21}</string>
      </dict>
      <key>monster004anim002.png</key>
      <dict>
        <key>frame</key>
        <string>{{45,1},{14,19}}</string>
        <key>offset</key>
        <string>{2.5,-1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{6,2},{14,19}}</string>
        <key>sourceSize</key>
        <string>{21,21}</string>
      </dict>
      <key>monster004anim003.png</key>
      <dict>
        <key>frame</key>
        <string>{{45,1},{14,19}}</string>
        <key>offset</key>
        <string>{2.5,-1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{6,2},{14,19}}</string>
        <key>sourceSize</key>
        <string>{21,21}</string>
      </dict>
      <key>monster004anim004.png</key>
      <dict>
        <key>frame</key>
        <string>{{45,1},{14,19}}</string>
        <key>offset</key>
        <string>{2.5,-1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{6,2},{14,19}}</string>
        <key>sourceSize</key>
        <string>{21,21}</string>
      </dict>
      <key>monster004anim005.png</key>
      <dict>
        <key>frame</key>
        <string>{{45,1},{14,19}}</string>
        <key>offset</key>
        <string>{2.5,-1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{6,2},{14,19}}</string>
        <key>sourceSize</key>
        <string>{21,21}</string>
      </dict>
      <key>monster004anim009.png</key>
      <dict>
        <key>frame</key>
        <string>{{45,1},{14,19}}</string>
        <key>offset</key>
        <string>{2.5,-1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{6,2},{14,19}}</string>
        <key>sourceSize</key>
        <string>{21,21}</string>
      </dict>
      <key>monster004anim010.png</key>
      <dict>
        <key>frame</key>
        <string>{{45,1},{14,19}}</string>
        <key>offset</key>
        <string>{2.5,-1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{6,2},{14,19}}</string>
        <key>sourceSize</key>
        <string>{21,21}</string>
      </dict>
      <key>monster004anim011.png</key>
      <dict>
        <key>frame</key>
        <string>{{45,1},{14,19}}</string>
        <key>offset</key>
        <string>{2.5,-1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{6,2},{14,19}}</string>
        <key>sourceSize</key>
        <string>{21,21}</string>
      </dict>
      <key>monster004anim012.png</key>
      <dict>
        <key>frame</key>
        <string>{{45,1},{14,19}}</string>
        <key>offset</key>
        <string>{2.5,-1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{6,2},{14,19}}</string>
        <key>sourceSize</key>
        <string>{21,21}</string>
      </dict>
      <key>monster004anim007.png</key>
      <dict>
        <key>frame</key>
        <string>{{1,1},{12,20}}</string>
        <key>offset</key>
        <string>{0.5,-0.5}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{5,1},{12,20}}</string>
        <key>sourceSize</key>
        <string>{21,21}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>pixelFormat</key>
      <string>RGBA8888</string>
      <key>premultiplyAlpha</key>
      <false/>
      <key>realTextureFileName</key>
      <string>monster004.png</string>
      <key>size</key>
      <string>{60,21}</string>
      <key>textureFileName</key>
      <string>monster004</string>
    </dict>
  </dict>
</plist>
