<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>nonplayer102anim009.png</key>
      <dict>
        <key>frame</key>
        <string>{{1,1},{32,30}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,1},{32,30}}</string>
        <key>sourceSize</key>
        <string>{32,32}</string>
      </dict>
      <key>nonplayer102anim109.png</key>
      <dict>
        <key>frame</key>
        <string>{{35,1},{32,30}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,1},{32,30}}</string>
        <key>sourceSize</key>
        <string>{32,32}</string>
      </dict>
      <key>nonplayer102anim006.png</key>
      <dict>
        <key>frame</key>
        <string>{{69,1},{32,29}}</string>
        <key>offset</key>
        <string>{0,0.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,1},{32,29}}</string>
        <key>sourceSize</key>
        <string>{32,32}</string>
      </dict>
      <key>nonplayer102anim005.png</key>
      <dict>
        <key>frame</key>
        <string>{{103,1},{30,24}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{1,4},{30,24}}</string>
        <key>sourceSize</key>
        <string>{32,32}</string>
      </dict>
      <key>nonplayer102anim007.png</key>
      <dict>
        <key>frame</key>
        <string>{{69,32},{32,29}}</string>
        <key>offset</key>
        <string>{0,0.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,1},{32,29}}</string>
        <key>sourceSize</key>
        <string>{32,32}</string>
      </dict>
      <key>nonplayer102anim105.png</key>
      <dict>
        <key>frame</key>
        <string>{{103,33},{30,24}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{1,4},{30,24}}</string>
        <key>sourceSize</key>
        <string>{32,32}</string>
      </dict>
      <key>nonplayer102anim106.png</key>
      <dict>
        <key>frame</key>
        <string>{{1,33},{32,29}}</string>
        <key>offset</key>
        <string>{0,0.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,1},{32,29}}</string>
        <key>sourceSize</key>
        <string>{32,32}</string>
      </dict>
      <key>nonplayer102anim107.png</key>
      <dict>
        <key>frame</key>
        <string>{{35,33},{32,29}}</string>
        <key>offset</key>
        <string>{0,0.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,1},{32,29}}</string>
        <key>sourceSize</key>
        <string>{32,32}</string>
      </dict>
      <key>nonplayer102anim008.png</key>
      <dict>
        <key>frame</key>
        <string>{{69,63},{32,25}}</string>
        <key>offset</key>
        <string>{0,0.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,3},{32,25}}</string>
        <key>sourceSize</key>
        <string>{32,32}</string>
      </dict>
      <key>nonplayer102anim001.png</key>
      <dict>
        <key>frame</key>
        <string>{{103,65},{29,24}}</string>
        <key>offset</key>
        <string>{0.5,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{2,4},{29,24}}</string>
        <key>sourceSize</key>
        <string>{32,32}</string>
      </dict>
      <key>nonplayer102anim108.png</key>
      <dict>
        <key>frame</key>
        <string>{{1,64},{32,25}}</string>
        <key>offset</key>
        <string>{0,0.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,3},{32,25}}</string>
        <key>sourceSize</key>
        <string>{32,32}</string>
      </dict>
      <key>nonplayer102anim000.png</key>
      <dict>
        <key>frame</key>
        <string>{{35,64},{30,26}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{1,3},{30,26}}</string>
        <key>sourceSize</key>
        <string>{32,32}</string>
      </dict>
      <key>nonplayer102anim004.png</key>
      <dict>
        <key>frame</key>
        <string>{{1,91},{30,26}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{1,3},{30,26}}</string>
        <key>sourceSize</key>
        <string>{32,32}</string>
      </dict>
      <key>nonplayer102anim010.png</key>
      <dict>
        <key>frame</key>
        <string>{{67,90},{30,26}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{1,3},{30,26}}</string>
        <key>sourceSize</key>
        <string>{32,32}</string>
      </dict>
      <key>nonplayer102anim003.png</key>
      <dict>
        <key>frame</key>
        <string>{{99,96},{28,24}}</string>
        <key>offset</key>
        <string>{1,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{3,4},{28,24}}</string>
        <key>sourceSize</key>
        <string>{32,32}</string>
      </dict>
      <key>nonplayer102anim100.png</key>
      <dict>
        <key>frame</key>
        <string>{{33,92},{30,26}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{1,3},{30,26}}</string>
        <key>sourceSize</key>
        <string>{32,32}</string>
      </dict>
      <key>nonplayer102anim102.png</key>
      <dict>
        <key>frame</key>
        <string>{{1,119},{30,26}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{1,3},{30,26}}</string>
        <key>sourceSize</key>
        <string>{32,32}</string>
      </dict>
      <key>nonplayer102anim104.png</key>
      <dict>
        <key>frame</key>
        <string>{{65,118},{30,26}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{1,3},{30,26}}</string>
        <key>sourceSize</key>
        <string>{32,32}</string>
      </dict>
      <key>nonplayer102anim110.png</key>
      <dict>
        <key>frame</key>
        <string>{{97,122},{30,26}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{1,3},{30,26}}</string>
        <key>sourceSize</key>
        <string>{32,32}</string>
      </dict>
      <key>nonplayer102anim101.png</key>
      <dict>
        <key>frame</key>
        <string>{{33,120},{29,24}}</string>
        <key>offset</key>
        <string>{0.5,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{2,4},{29,24}}</string>
        <key>sourceSize</key>
        <string>{32,32}</string>
      </dict>
      <key>nonplayer102anim103.png</key>
      <dict>
        <key>frame</key>
        <string>{{33,146},{28,24}}</string>
        <key>offset</key>
        <string>{1,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{3,4},{28,24}}</string>
        <key>sourceSize</key>
        <string>{32,32}</string>
      </dict>
      <key>nonplayer102anim002.png</key>
      <dict>
        <key>frame</key>
        <string>{{35,64},{30,26}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{1,3},{30,26}}</string>
        <key>sourceSize</key>
        <string>{32,32}</string>
      </dict>
      <key>nonplayer102anim011.png</key>
      <dict>
        <key>frame</key>
        <string>{{1,1},{32,30}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,1},{32,30}}</string>
        <key>sourceSize</key>
        <string>{32,32}</string>
      </dict>
      <key>nonplayer102anim012.png</key>
      <dict>
        <key>frame</key>
        <string>{{67,90},{30,26}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{1,3},{30,26}}</string>
        <key>sourceSize</key>
        <string>{32,32}</string>
      </dict>
      <key>nonplayer102anim111.png</key>
      <dict>
        <key>frame</key>
        <string>{{35,1},{32,30}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,1},{32,30}}</string>
        <key>sourceSize</key>
        <string>{32,32}</string>
      </dict>
      <key>nonplayer102anim112.png</key>
      <dict>
        <key>frame</key>
        <string>{{97,122},{30,26}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{1,3},{30,26}}</string>
        <key>sourceSize</key>
        <string>{32,32}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>pixelFormat</key>
      <string>RGBA8888</string>
      <key>premultiplyAlpha</key>
      <false/>
      <key>realTextureFileName</key>
      <string>nonplayer102.png</string>
      <key>size</key>
      <string>{128,171}</string>
      <key>textureFileName</key>
      <string>nonplayer102</string>
    </dict>
  </dict>
</plist>
